<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" href="../css/dist/css/adminlte.min.css">
<link rel="stylesheet" href="../css/dist/css/Chart.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/wish.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebarheader.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/sidebar_header :: sidebar_header_nav"></nav>
	<div th:include="common/Sidebar :: header_aside"></div>
	<div class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
					
						<h1 class="m-0 text-dark">My Page</h1>
					</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<section class="content">
			<div class="container-fluid">
				<!-- Info boxes -->
				<div class="row">
					<div class="col-sw-3 col-12 col-sm-6  col-lg-6">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Likes</span> <span class="info-box-number like-count" th:text="|${mypage.likecount} 개|"></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->

					<!-- fix for small devices only -->
					<div class="clearfix hidden-md-up"></div>

					<div class="col-sw-3 col-12 col-sm-6 col-lg-6 ">
						<div class="info-box mb-3">
							<span class="info-box-icon bg-success elevation-1"><i class="fas fa-star"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Bookmark</span> <span class="info-box-number" th:text="|${mypage.bookmarkcount} 개|"></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-sw-3 col-12 col-sm-6 col-lg-6" >
						<div class="info-box">
							<span class="info-box-icon bg-info elevation-1"><i class="fas fa-user"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Follower</span> <span class="info-box-number follower-count" th:text="|${mypage.followercount} 명|"></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
					<!-- /.col -->
					<div class="col-sw-3 col-12 col-sm-6 col-lg-6" data-toggle="modal" data-target="#following">
						<div class="info-box mb-3 following-box">
							<span class="info-box-icon bg-warning elevation-1"><i class="fas fa-users"></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Following</span> <span class="info-box-number following-count" th:text="|${mypage.followingcount} 명| "></span>
							</div>

							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
					</div>
				</div>

				<div class="row">
					<div class="col-sw-3 col-lg-6">
						<!-- DIRECT CHAT -->
						<div class="card direct-chat direct-chat-warning card-danger">
							<div class="card-header">
								<h3 class="card-title">Like</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body info-body">
							<table class="table bookmark-table">
									<thead class="thead-dark">
										<tr>
											<th scope="col" class="col-like-one">Rank</th>
											<th scope="col" class="col-like-two">Title</th>
											<th scope="col" class="col-like-thr">like</th>
											<th scope="col" class="col-like-for">regdate</th>
										</tr>
									</thead>
									<tbody class="like-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
						<!--/.direct-chat -->
					</div>
					<!-- /.col -->
					<div class="col-sw-3 col-lg-6" >
						<!-- DIRECT CHAT -->
						<div class="card direct-chat direct-chat-warning card-success">
							<div class="card-header">
								<h3 class="card-title">Bookmark</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body info-body">
							<input class="form-control" id="myInputbookmark" type="text" placeholder="Search..">
								<table class="table  table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col" class="col-one">TITLE</th>
											<th scope="col" class="col-two">USER</th>
											<th scope="col" class="col-thr">DATE</th>
										</tr>
									</thead>
									<tbody class="bookmark-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
						<!--/.direct-chat -->
					</div>
					<!-- /.col -->
					<div class="col-sw-3 col-lg-6  ">
						<!-- DIRECT CHAT -->
						<div class="card direct-chat direct-chat-warning card-info">
							<div class="card-header">
								<h3 class="card-title">Follower</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body info-body">
							<input class="form-control" id="myInput" type="text" placeholder="Search..">
								<table class="table">
									<tbody class="follower-tbody">
									</tbody>
								</table>
							</div>
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
						<!--/.direct-chat -->
					</div>
					<!-- /.col -->
					<div class="col-sw-3 col-lg-6  ">
						<!-- DIRECT CHAT -->
						<div class="card direct-chat direct-chat-warning card-warning">
							<div class="card-header">
								<h3 class="card-title">Following</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body following-list info-body">
							<input class="form-control" id="myInputfollowing" type="text" placeholder="Search..">
								<table class="table">
									<tbody class="following-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
						<!--/.direct-chat -->
					</div>
					<!-- /.col -->
				</div>
				<div class="row">
					<div class="col-md-6 col-sw-3">
						<div class="info-box mb-6 ">
							<span class="info-box-icon bg-like elevation-1"><i class='fas fa-skull-crossbones'></i></span>

							<div class="info-box-content">
								<span class="info-box-text">Blacklist</span> 
								<span class="info-box-number blacklist-count" th:text="|${mypage.blacklistcount} 명|"></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
						<div class="card direct-chat direct-chat-warning card-dark">
							<div class="card-header">
								<h3 class="card-title">Blacklist</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body info-body">
							<input class="form-control" id="myInputblacklist" type="text" placeholder="Search..">
								<table class="table  table-hover">
									<tbody class="blacklist-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
					</div>
					<div class="col-sw-3 col-md-6 col-12">
						<div class="info-box mb-6">
							<span class="info-box-icon bg-secondary elevation-1"><i class='far fa-comment'></i></span>

							<div class="info-box-content">
								<span class="info-box-text">reply</span> 
								<span class="info-box-number blacklist-count"></span>
							</div>
							<!-- /.info-box-content -->
						</div>
						<!-- /.info-box -->
						<div class="card direct-chat direct-chat-warning card-secondary">
							<div class="card-header">
								<h3 class="card-title">reply</h3>
								<div class="card-tools">
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
									<button type="button" class="btn btn-tool" data-card-widget="remove">
										<i class="fas fa-times"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body info-body">
							<input class="form-control" id="myInputblacklist" type="text" placeholder="Search..">
								<table class="table  table-hover reply-table">
									<tbody class="reply-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-body -->
							<div class="card-footer"></div>
							<!-- /.card-footer-->
						</div>
					</div>
					<div class="col-md-12  col-sw-6 col-lg-12" >
						<!-- DIRECT CHAT -->
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title">등록 일지</h5>

								<div class="card-tools">
								<span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning register-count"></span>
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
							<div class="paging-button">
									<input type='hidden' name="currentPage"/>
									<input type='hidden' name="lastPage"/>
									<div class="paging-view"><span class="pagingnow"></span></div>
									<div class="leftright">
									<span class="left-button"><i class="fas fa-angle-left"></i></span>
									<span class="right-button"><i class="fas fa-angle-right"></i></span>
									</div>
								</div>
								
								<table border="1" style="width: 100%">
									<tr class="text-center">
										<th style="width: 30%">제목</th>
										<th style="width: 20%">등록날짜</th>
										<th style="width: 20%">출발날짜</th>
										<th style="width: 20%">도착날짜</th>
										<th style="width: 10%">등록상태</th>
									</tr>
									<tbody class="register-tbody">
									</tbody>
								</table>
								<br />
								
							</div>
							<!-- /.card-footer -->
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sw-6 col-lg-12">
						<div class="card card-primary">
							<div class="card-header">
								<h5 class="card-title">최근 본 게시글</h5>

								<div class="card-tools">
									<span data-toggle="tooltip" title="3 New Messages" class="badge badge-warning recently-count"></span>
									<button type="button" class="btn btn-tool" data-card-widget="collapse">
										<i class="fas fa-minus"></i>
									</button>
								</div>
							</div>
							<!-- /.card-header -->
							<div class="card-body">
								<table class="table  table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col" class="col-one">날짜</th>
											<th scope="col" class="col-two">제목</th>
											<th scope="col" class="col-thr">작성자</th>
										</tr>
									</thead>
									<tbody class="recently-tbody">
									</tbody>
								</table>
							</div>
							<!-- /.card-footer -->
						</div>
						<!-- /.card -->
					</div>
					<!-- /.col -->
				</div>
					<!-- /.col -->
				</div>
				<!-- /.row -->
			</div>
			<!--/. container-fluid -->
		</section>
		<!-- /.content -->
	</div>

	<!--각종 스크립트  -->

	<script src="../js/mypage.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/placedash.js"></script>
	<script src="../js/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../js/dist/js/adminlte.js"></script>
	<script src="../js/dist/js/demo.js"></script>
	<script src="../js/dist/js/pages/dashboard3.js"></script>
	<script src="../js/dist/js/Chart.min.js"></script>
	<script type="text/javascript" src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>