<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>가야하는 맛집리스트</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" href="../css/dist/css/adminlte.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/wish.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">

</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<div th:include="common/Sidebar :: header_aside"></div>
	<div class="content-wrapper">
	<div class="content-main-title">
					<span class="h1">Wish List</span><img th:src="@{../image/plus60.png}" class="food_regist" data-toggle="modal" data-target="#exampleModal"/>
	</div>
		<section class="content">
			<div class="row">
				
				<div class="col-md-6">
					<div class="box food-box">
						<div class="box-header with-border">
							<h3 class="box-title ">음식</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table class="table table-bordered">
								<tbody class="tbody">
									<tr class="tabletr" th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}' th:if="${card.placecheck==0 && card.placecategory==0}">
										<td class="tablesize">
											<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}"> <input th:unless="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}" checked> <label th:for="${card.placeid}"></label>
											</div>
										</td>
										<td class="td_two tablesize">
											<input type='hidden' class="placeid" name="placeid" th:value="${card.placeid}" /> <img th:if="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_off.png}" /> <img th:unless="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_on.png}" />
										</td>
										<td class="tablesize">
											<div class="media">
												<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo ">
												<div class="media-body">
													<span th:text="${card.placeregdate}" class="media-meta pull-right "></span>
													<h4 th:text="${card.placename}" class="title "></h4>
													<span th:text="${card.placejuso}" class="summary "></span>
												</div>
												<button class="media_look">
													<a class="blog" th:href='${card.bloglink}' target='_blank'>블로그 보기</a>
												</button>
												<button class="media_delete">글 삭제</button>
												<img th:src="@{../image/icon/cancel.png}" class="media_cancel">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

					<div class="box cafe-box">
						<div class="box-header">
							<h3 class="box-title ">카페</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table table-condensed">
								<tbody class="tbody">
									<tr class="tabletr" th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}' th:if="${card.placecheck==0 && card.placecategory==1}">
										<td class="tablesize">
											<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}"> <input th:unless="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}" checked> <label th:for="${card.placeid}"></label>
											</div>
										</td>
										<td class="td_two tablesize">
											<input type='hidden' class="placeid" name="placeid" th:value="${card.placeid}" /> <img th:if="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_off.png}" /> <img th:unless="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_on.png}" />
										</td>
										<td class="tablesize">
											<div class="media">
												<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo ">
												<div class="media-body">
													<span th:text="${card.placeregdate}" class="media-meta pull-right "></span>
													<h4 th:text="${card.placename}" class="title "></h4>
													<span th:text="${card.placejuso}" class="summary "></span>
												</div>
												<button class="media_look">
													<a class="blog" th:href='${card.bloglink}' target='_blank'>블로그 보기</a>
												</button>
												<button class="media_delete">글 삭제</button>
												<img th:src="@{../image/icon/cancel.png}" class="media_cancel">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->
				</div>
				<!-- /.col -->
				<div class="col-md-6">
					<div class="place-box box">
						<div class="box-header">
							<h3 class="box-title  ">관광지</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body no-padding">
							<table class="table">
								<tbody class="tbody">
									<tr class="tabletr" th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}' th:if="${card.placecheck==0 && card.placecategory==2}">
										<td class="tablesize">
											<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}"> <input th:unless="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}" checked> <label th:for="${card.placeid}"></label>
											</div>
										</td>
										<td class="td_two tablesize">
											<input type='hidden' class="placeid" name="placeid" th:value="${card.placeid}" /> <img th:if="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_off.png}" /> <img th:unless="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_on.png}" />
										</td>
										<td class="tablesize">
											<div class="media">
												<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo ">
												<div class="media-body">
													<span th:text="${card.placeregdate}" class="media-meta pull-right "></span>
													<h4 th:text="${card.placename}" class="title "></h4>
													<span th:text="${card.placejuso}" class="summary "></span>
												</div>
												<button class="media_look">
													<a class="blog" th:href='${card.bloglink}' target='_blank'>블로그 보기</a>
												</button>
												<button class="media_delete">글 삭제</button>
												<img th:src="@{../image/icon/cancel.png}" class="media_cancel">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<!-- /.box -->

					<!-- /.box -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</section>
	</div>
	<form th:id="regist_form" th:action="@{/placeregist}" method="POST">
		<!-- 1번째 모달  -->
		<div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sw">
				<div class="modal-content ">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">나만의 맛집 & 장소 등록하기</h5>
						<div class="option">
							<div></div>
						</div>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#qwe">MAP</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#asd">SEARCH</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active place_map_all" id="qwe">
								<div class="col-m-12 place_map_all_map">
									<div class="searchkakao_app">
										<span class="searchkakao_app_name">kakaomap</span> <input type="text" value="이태원 맛집" id="keyword1" size="20"> <img th:src="@{../image/icon/search.png}" class="map_btn1" />
									</div>
									<div id="map"></div>
									<div class="custom_zoomcontrol radius_border">
										<span class="zoomin"> <img class="zoomimg" th:src="@{../image/icon/plus.png}" alt="확대">
										</span> <span class="zoomout"> <img class="zoomimg" th:src="@{../image/icon/minus.png}" alt="축소">
										</span>
									</div>
								</div>
								<div class="col-m-2 place_map_all_list">
									<div class="map_wrap">
										<div class="kakaomap_title">
											<h1 class="Title">
												<a id="local" class="local" href="?nil_profile=title&amp;nil_src=local">kakaomap</a>
											</h1>
											<div class="searchkakao">
												<input type="text" value="이태원 맛집" id="keyword2" size="20"> <img th:src="@{../image/icon/search.png}" class="map_btn2" />
											</div>
										</div>

										<div id="menu_wrap" class="bg_white">
											<ul id="placesList"></ul>
											<div id="pagination"></div>
										</div>
									</div>
								</div>
								<div class="hide_div">
									<img th:src="@{../image/icon/play.png}" class="hide_btn">
								</div>
							</div>
							<div class="tab-pane fade" id="asd">
								<div class="naver_div">
									<div class="naver_div_word">
										<input type="text" placeholder="" id="naver" size="20">
									</div>
									<div class="naver_div_img">
										<img th:src="@{../image/icon/search.png}" class="naversearch" onclick="naversearch()" />
									</div>
								</div>
								<div class="navercardslide_for"></div>
								<div class="navercardslide_nav"></div>
							</div>
						</div>
					</div>

					<div class="modal-footer">
						<input type="hidden" name="placename" value="" /> <input type="hidden" name="placejuso" value="" /> <input type="hidden" name="bloglink" value="" /> <input type="hidden" name="iconname" value="" />
						<th:block th:if="${session.userInfo}!= null">
							<input type="hidden" name="uuid" th:value="${session.userInfo.uuid}" />
						</th:block>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">나가기</button>
						<button type="button" class="btn-primary btn-lg" data-toggle="modal" data-target="#CheckModal" onclick="statuscheck()">완료</button>

					</div>
				</div>
			</div>
		</div>
		<!-- 2번째 모달  -->
		<div class="modal fade" id="CheckModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">현재 등록 현황</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<i class="material-icons">clear</i>
						</button>
					</div>
					<div class="modal-body">
						<div class="place_category">
							<select name="placecategory" class="custom-select">
								<option selected>저장할 카테고리를 선택해주세요</option>
								<option value="0">음식</option>
								<option value="1">카페</option>
								<option value="2">관광지</option>
							</select>
						</div>
						<div class="food_category">
							<button type="button" class="btn btn-outline-success btn-icon btn-icon-name" onclick="icon()">아이콘</button>
						</div>
						<div class="food_icon"></div>
						<div class="my_check">
							<div>
								<button type="button" class="btn btn-outline-danger btn_check_place">장소</button>
								<div class="btn_check_place_status"></div>
							</div>
							<div class="my_check_two">
								<button type="button" class="btn btn-outline-info btn_check_blog">블로그</button>
								<div class="btn_check_blog_status"></div>
							</div>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
						<button type="button" class="btn btn-primary" onclick="wish_regist()">Save changes</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	</section>
	</div>

	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e957a3a75c171b18d05297414326bb8d&libraries=services"></script>
	<script src="../js/wish.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/placedash.js"></script>
	<script src="../js/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../js/dist/js/adminlte.js"></script>
	<script src="../js/dist/js/demo.js"></script>
	<script src="../js/dist/js/pages/dashboard3.js"></script>
</body>
</html>
