<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>가야하는 맛집리스트</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/wish.css}">
<th:block th:replace="common/commonHead"></th:block>

<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">

</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<section>
		<article>
			<div class="wish_list">
				<div class="wish_list_title">
					<div class="h2">가고싶은 나만의 장소 & 맛집 추가해보세요!</div>
					<button type="button" class="btn btn-primary btn-lg food_regist" data-toggle="modal" data-target="#exampleModal">맛집 등록</button>
				</div>

				<div class="my_list">
					<div class="main_table">
						<div class="main_button_theme">
							<button type="button" class="btn btn-success btn-filter" data-target='0' >음식</button>
							<button type="button" class="btn btn-info btn-filter" data-target='1' >카페</button>
							<button type="button" class="btn btn-danger btn-filter" data-target='2' >관광지</button>
							<button type="button" class="btn btn-secondary btn-filter" data-target='3' >갔던곳</button>
							<button type="button" class="btn btn-light btn-filter" data-target='all'>전체</button>
						</div>
						<table class="table table-filter">
							<tbody class="tbody">
								<tr  class="tabletr"th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}' th:if="${card.placecheck==0}">
									<td class="">
										<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'"type="checkbox"  class="checkbox1" th:id="${card.placeid}">
												<input th:unless="${card.placecheck} =='0'"type="checkbox" class="checkbox1"  th:id="${card.placeid}" checked>
												<label th:for="${card.placeid}"></label>
										</div>
									</td>
									<td class="">
										<input type='hidden' name="placeid" th:value="${card.placeid}"/>
										<img th:if="${card.bookmark}== 0"class="star_img" th:src="@{../image/icon/star_off.png}" />
										<img th:unless="${card.bookmark}== 0"class="star_img" th:src="@{../image/icon/star_on.png}" />
									</td>
									<td class="">
										<div class="media">
											<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo">
											<div class="media-body">
												<span th:text="${card.placeregdate}" class="media-meta pull-right"></span>
												<button th:if="${card.placecategory}==0"type="button" class="btn btn-outline-success btn_category">음식</button>
												<button th:if="${card.placecategory}==1"type="button" class="btn btn-outline-info btn_category">카페</button>
												<button th:if="${card.placecategory}==2"type="button" class="btn btn-outline-danger btn_category">관광지</button>
												<h4 th:text="${card.placename}" class="title"></h4>
												<span th:text="${card.placejuso}" class="summary"></span>
												
											</div>
										</div>
									</td>
								</tr>
								<tr class="check_tr tabletr" th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}'th:unless="${card.placecheck==0}">
								<td class="">
										<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'"type="checkbox"  class="checkbox1" th:id="${card.placeid}">
												<input th:unless="${card.placecheck} =='0'"type="checkbox" class="checkbox1"  th:id="${card.placeid}" checked>
												<label th:for="${card.placeid}"></label>
										</div>
									</td>
									<td class="">
										<input type='hidden' name="placeid" th:value="${card.placeid}"/>
										<img th:if="${card.bookmark}== 0"class="star_img" th:src="@{../image/icon/star_off.png}" />
										<img th:unless="${card.bookmark}== 0"class="star_img" th:src="@{../image/icon/star_on.png}" />
									</td>
									<td class="">
										<div class="media">
											<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo">
											<div class="media-body">
												<span th:text="${card.placeregdate}" class="media-meta pull-right"></span>
												<button th:if="${card.placecategory}==0"type="button" class="btn btn-outline-success btn_category">음식</button>
												<button th:if="${card.placecategory}==1"type="button" class="btn btn-outline-info btn_category">카페</button>
												<button th:if="${card.placecategory}==2"type="button" class="btn btn-outline-danger btn_category">관광지</button>
												<h4 th:text="${card.placename}" class="title"></h4>
												<span th:text="${card.placejuso}" class="summary"></span>
												
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</article>

		<div class="modal  fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sw">
				<div class="modal-content ">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalLabel">나만의 맛집 & 장소 등록하기</h5>
						<div class="option">
							<div></div>
						</div>

						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<ul class="nav nav-tabs">
							<li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#qwe">MAP</a></li>
							<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#asd">SEARCH</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="qwe">
								<input type="text" value="이태원 맛집" id="keyword" size="20">
								<button class="map_btn">검색하기</button>
								<div class="col-m-8">
									<div id="map"></div>
								</div>
								<div class="col-m-2">
									<div class="map_wrap">
										<div id="menu_wrap" class="bg_white">
											<hr>
											<ul id="placesList"></ul>
											<div id="pagination"></div>
										</div>
									</div>
								</div>

							</div>
							<div class="tab-pane fade" id="asd">
								<input type="text" placeholder="맛집 검색" id="naver" size="20">
								<button type="button" onclick="naversearch()">네이버 검색</button>
								<div class="navercardslide_for"></div>
								<div class="navercardslide_nav"></div>
								<div class="food_icon"></div>
							</div>
						</div>
					</div>
					<form th:action="@{/placeregist}" method="POST">
						<div class="modal-footer">
							<div class="place_category">
								<select name="placecategory" class="custom-select">
									<option selected>테마</option>
									<option value="0">음식</option>
									<option value="1">카페</option>
									<option value="2">관광지</option>
								</select>
							</div>
							<div class="food_category">
								<button type="button" class="btn btn-outline-success btn-icon" onclick="icon()">음식 아이콘</button>
							</div>
							<div class="place_check">
								<button type="button" class="btn btn-outline-danger btn_check_place">장소</button>
								<button type="button" class="btn btn-outline-info btn_check_blog">블로그</button>
							</div>
							<input type="hidden" name="placename" value="" /> 
							<input type="hidden" name="placejuso" value="" /> 
							<input type="hidden" name="bloglink" value="" /> 
							<input type="hidden" name="iconname" value="" />
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e957a3a75c171b18d05297414326bb8d&libraries=services"></script>
	<script src="../js/wish.js"></script>
	<script src="../js/slick.min.js"></script>



</body>
</html>