<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>위시리스트 - 차트</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" href="../css/dist/css/adminlte.min.css">
<link rel="stylesheet" href="../css/dist/css/Chart.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/wish.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/visitchart.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/sidebarheader.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/koreamap.css}">
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/sidebar_header :: sidebar_header_nav"></nav>
	<div th:include="common/Sidebar :: header_aside"></div>
	<div class="content-wrapper">
	<div class="content-main-title">
					<span class="h1">Visit & Charts</span>
	</div>
		<section class="content">
			<div class="row">

				<div class="col-md-6">
					<div class="box food-box">
						<div class="box-header with-border">
							<h3 class="box-title ">추억</h3>
						</div>
						<!-- /.box-header -->
						<div class="box-body">
							<table class="table ">
								<tbody class="tbody">
									<tr class="tabletr" th:each="card  : ${place}" th:data-status='${card.placecategory}' th:data-check='${card.placecheck}' th:if="${card.placecheck==1}">
										<td class="tablesize">
											<div class="ckbox ">
												<input th:if="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}"> <input th:unless="${card.placecheck} =='0'" type="checkbox" class="checkbox1 " th:id="${card.placeid}" checked> <label th:for="${card.placeid}"></label>
											</div>
										</td>
										<td class="td_two tablesize">
											<input type='hidden' class="placeid" name="placeid" th:value="${card.placeid}" /> 
											<input type='hidden' class="uuid" name="uuid" th:value="${session.userInfo.uuid}" /> 
											<img th:if="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_off.png}" /> 
											<img th:unless="${card.bookmark}== 0" class="star_img " th:src="@{../image/icon/star_on.png}" />
										</td>
										<td class="tablesize">
											<div class="media">
												<img th:src="@{../image/icon}+${card.iconname}+@{.png}" class="media-photo ">
												<div class="media-body">
													<span th:text="${card.placeregdate}" class="media-meta pull-right "></span>
													<h4 th:text="${card.placename}" class="title "></h4>
													<span th:text="${card.placejuso}" class="summary "></span>
												</div>
												<button class="media_look">
													<a class="blog" th:href='${card.bloglink}' target='_blank'>블로그 보기</a>
												</button>
												<button class="media_delete">글 삭제</button>
												<img th:src="@{../image/icon/cancel.png}" class="media_cancel">
											</div>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
						<!-- /.box-body -->
					</div>
					<div class="card card-danger">
						<div class="card-header">
							<h3 class="card-title">Donut Chart</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body" style="display: block;">
							<div class="chartjs-size-monitor">
								<div class="chartjs-size-monitor-expand">
									<div class=""></div>
								</div>
								<div class="chartjs-size-monitor-shrink">
									<div class=""></div>
								</div>
							</div>
							<canvas id="donutChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 852px;" width="852" height="250" class="chartjs-render-monitor"></canvas>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.box -->
					<!-- LINE CHART -->
					<div class="card card-info">
						<div class="card-header">
							<h3 class="card-title">Line Chart</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="chart">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<canvas id="lineChart" style="min-height: 250px; height: 250px; max-height: 250px; max-width: 100%; display: block; width: 792px;" width="792" height="250" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->

					<!-- BAR CHART -->
					<div class="card card-warning">
						<div class="card-header">
							<h3 class="card-title">Bar Chart</h3>

							<div class="card-tools">
								<button type="button" class="btn btn-tool" data-card-widget="collapse">
									<i class="fas fa-minus"></i>
								</button>
							</div>
						</div>
						<div class="card-body">
							<div class="chart">
								<div class="chartjs-size-monitor">
									<div class="chartjs-size-monitor-expand">
										<div class=""></div>
									</div>
									<div class="chartjs-size-monitor-shrink">
										<div class=""></div>
									</div>
								</div>
								<canvas id="barChart" style="min-height: 250px; height: 300px; max-height: 300px; max-width: 100%; display: block; width: 792px;" width="792" height="250" class="chartjs-render-monitor"></canvas>
							</div>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
				<div class="col-md-6">
				<!-- korea map -->
				<div class="card card-info card-korea-map" style="width:100%;height:800px;">
						<div class="card-header">
							<h3 class="card-title">지역별 현황</h3>
							<div class="all-look">
								<input type="checkbox" class="map-checkbox" name="map-checkbox" /><span>전체보기</span>
							</div>
						</div>
						
						
						<div class="card-body card-korea-map-main" th:include="wish/koreamap :: korea_aside">
						
						</div>
						<!-- /.card-body -->
					</div>
					

					<!-- /.card -->

				</div>
			</div>
			<!-- /.row -->
		</section>
	</div>


	<!--각종 스크립트  -->
	<script src="../js/wish.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/placedash.js"></script>
	<script src="../js/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../js/dist/js/adminlte.js"></script>
	<script src="../js/dist/js/demo.js"></script>
	<script src="../js/dist/js/placechart.js"></script>
	<script src="../js/dist/js/pages/dashboard3.js"></script>
	<script src="../js/dist/js/Chart.min.js"></script>
</body>

</html>