<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>travel</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" href="../css/travelblog.css">
<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />
</head>

<body>
	<!-- 공통 헤드 nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<div class="container">
		<div class="row" style="margin-top: 20px">
			<div class="col-lg-12 posts-list">
				<div class="single-post row">
					<div class="col-lg-12">
						<div class="feature-img">
							<img class="img-fluid" src="https://placeimg.com/1200/400">
							<div class="banner_content text-center">
								<h2 th:text="${travel.travelStory.tstitle}"></h2>
								<a href="#" class="btn theme_btn" th:text="|#${travel.travelStory.tshashtagone}|">추억보기</a>
								<a href="#" class="btn theme_btn" th:text="|#${travel.travelStory.tshashtagone}|">추억보기</a>
								<a href="#" class="btn theme_btn" th:text="|#${travel.travelStory.tshashtagone}|">추억보기</a>
								<a href="#" class="btn theme_btn" th:text="|#${travel.travelStory.tshashtagone}|">추억보기</a>
							</div>
						</div>
					</div>
					<div class="col-lg-12  col-md-12">
						<div class="blog_info text-right">
							<div class="post_tag">
								<span th:text="|${travel.travelStory.tsstartdate} - |"></span>
								<span href="#" th:text="${travel.travelStory.tsenddate}"></span>
							</div>
						</div>
					</div>
					<div class="col-lg-12 col-md-12 blog_details" th:each="list : ${travel.infoList}">
						<h3 class="line">
							<span class="planNum ff_cou" th:text="|${list.tsidDay} DAY|">
							</span>
						</h3>
						<h3 class="faciName ff_shu">
							<span th:text="${list.tsititle}"></span>
						</h3>
						<p th:utext="${list.tsicomment}"></p>
					</div>
				</div>

				<div class="comments-area" id="replyBox">
					<h4 th:text="|${travel.replyList[0].count} 개의 등록된 댓글|" id="comment_count">코멘트 총 개수</h4>
					<div class="comment-list" th:each="reply : ${travel.replyList}">
						<div class="single-comment justify-content-between d-flex">
							<div class="user justify-content-between d-flex">
								<div class="thumb">
									<img src="img/blog/c1.jpg" alt="">
								</div>
								<div class="desc">
									<h5>
										<span th:text="${reply.memberName}">작성자</span>
									</h5>
									<p class="date" th:text="${reply.replyRegdate}">2020-09-09</p>
									<p class="comment" th:text="${reply.tsReplyComment}">코멘트내용</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="comment-form">
					<h4>Comment</h4>
					<form>
						<div class="form-group">
							<input type="hidden" name="tsId" th:value="${travel.travelStory.tsid}">
							<input type="text" class="form-control" name="tsReplyComment" placeholder="코멘트를 남겨주세요">
						</div>
						<button type="button" class="primary-btn button_hover reply_submit">등록</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript" src="../js/travel.js"></script>
</html>