<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.memberMapper">

	<!-- 회원가입 -->
	<insert id="signup" parameterType="com.sm.domain.MemberVO">
		INSERT INTO member
			(memberpass,
			 memberemail,
			 membernick,
			 memberregdate)
		VALUES
			(#{memberpass},
			#{memberemail},
			#{membernick},
			now());
	
	</insert>
	
	<!-- 회원가입 카카오 -->
	<insert id="kakaoSignup" parameterType="com.sm.domain.MemberVO">
		INSERT INTO member
			(memberpass,
		 	memberemail,
		 	membernick,
		 	memberregdate,
		 	kakaoOk)
		VALUES
			(#{memberpass},
			#{memberemail},
			#{membernick},
			now(),
			#{kakaoOk});
	</insert>
	
	<!-- 카카오로그인시 kakaoOk 변경-->
	<insert id="kakaoOk" parameterType="com.sm.domain.MemberVO">
		UPDATE 
			member 
		set 
			kakaoOk ='Y' 
		WHERE 
			memberemail = #{memberemail};
	</insert>

	<!-- 아이디  찾기 -->
	<select id="findById" resultType="com.sm.domain.MemberVO"
		parameterType="String">
		SELECT
			*
		FROM
			member
		WHERE
			memberemail=#{memberemail}
	</select>

	<!-- 아이디 확인 -->
	<select id="idCheck" resultType="com.sm.domain.MemberVO">
		select 
			memberemail 
		from 
			member
		where 
			memberemail = #{memberemail}
	</select>

	<!-- uuid 확인 -->
	<select id="uuidCheck" resultType="int">
		select 
			uuid 
		from 
			member
		where 
			memberemail = #{memberemail}
	</select>

	<!-- 회원 수 -->
	<select id="userCnt" resultType="int">
		select
			count(*)
		from
			member
	</select>

	<!-- 회원 페이징 -->
	<select id="memberList" parameterType="Map" resultType="com.sm.domain.MemberVO">
		SELECT 
			*
		FROM 
			member
		ORDER BY
			uuid ASC
		LIMIT #{startRow},#{rowPerPage};
	</select>

	<!-- 회원 페이징 정보 출력-->
	<update id="addBlackList" parameterType="Map">
		UPDATE
			member
 	<choose>
	    <when test="msgBlackList.equals('추가')">	
			set
				adminBlackList ='Y'
		</when>
		
		<when test="msgBlackList.equals('삭제')">
			set
				adminBlackList ='N'
		</when>
	</choose>		
		WHERE uuid = ${uuid};
	</update>
	
	<!-- 카카오로그인,TRIP5 로그인 count -->
	<select id="userType" resultType="Map">
		SELECT 
			COUNT(CASE WHEN kakaoOk='Y' THEN 1 END) AS kakao,
			COUNT(CASE WHEN kakaoOk='N' THEN 1 END) As trip5
		FROM 
			member;
	</select>

</mapper>