<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myMapper">
	
	<select id="selectUuid" parameterType="com.sm.domain.MemberVO" resultType="com.sm.domain.MemberVO">
	SELECT 
		uuid 
	FROM 
		member 
	WHERE 
		membernick = #{membernick}
	</select>
	
	
	<insert id="insertBlackList" parameterType="int">
		INSERT INTO 
			blackList 
		VALUES (#{myuid}, #{otheruid})
	</insert>
	
	<select id="selectBlackList" parameterType="int" resultType="com.sm.domain.MemberVO">
		SELECT 
			blackUuid as blackuuid
		FROM
			blackList 
		WHERE
			uuid = #{uuid} 
	</select>
	
	<delete id="deleteBlackList" parameterType="int">
		DELETE FROM 
			blackList 
		WHERE 
	</delete>
	
	<insert id="sendToMsg" parameterType="com.sm.domain.MessageVO">
		INSERT INTO 
			messageList (msg_regdate, 
			msg_content, 
			from_id, 
			send_id, 
			msg_subject) 
		VALUES
			(now(), #{msgcontent}, #{fromid}, #{sendid}, #{msgsubject})
	</insert>
	
	<select id="sendMessage" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
		SELECT 
			m.membernick membernick, 
			msg_id msgid, 
			msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject 
		FROM 
			member m, messageList l 
		WHERE 
			m.uuid = l.from_id AND 
			l.send_id = #{sendid} AND
			l.msg_delsnt = 2
		ORDER BY 
			msg_regdate desc
	</select>
	
	<select id="countMessage" parameterType="com.sm.domain.MessageVO" resultType="int">
		SELECT 
			count(*) 
		FROM 
			messageList 
		WHERE
			from_id = #{fromid} 
			AND
			msg_unwrite = 1
			AND
			msg_delrcv = 2
	</select>
	
	<select id="receive" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
	SELECT 
		m.membernick membernick, 
		msg_id msgid, 
		msg_regdate msgregdate, 
		msg_content msgcontent, 
		from_id fromid, 
		send_id sendid, 
		msg_subject msgsubject,
		msg_unwrite msgunwrite 
	FROM 
		member m, 
		messageList l 
	WHERE 
		m.uuid = l.send_id AND 
		l.from_id = #{fromid} AND
		l.msg_delrcv = 2
	ORDER BY 
		msg_regdate desc
	</select>
	
	<select id="clipread" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
	SELECT 
		m.membernick membernick, 
		msg_id msgid, 
		msg_regdate msgregdate, 
		msg_content msgcontent, 
		from_id fromid, 
		send_id sendid, 
		msg_subject msgsubject, 
		t.membernick othernick,
		l.msg_delrcv msgdelrcv,
		l.msg_delsnt msgdelsnt
	FROM 
		member m, 
		messageList l,
		(SELECT membernick FROM member WHERE uuid = #{sendid}) t
	WHERE 
		m.uuid = l.from_id AND
		l.msg_id = #{msgid}
	</select>
	
	<update id="readed" parameterType="com.sm.domain.MessageVO">
		UPDATE 
			messageList 
		SET 
			msg_unwrite = 0 
		WHERE 
			msg_id = #{msgid}
	</update>
	
	<select id="selectNick" parameterType="int" resultType="string">
		SELECT 
			membernick
		FROM
			member
		WHERE
			uuid = #{uuid}
	</select>
	
	<select id="clipTrash" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
		SELECT
			m.membernick membernick,
			msg_id msgid,
			msg_regdate msgregdate,
			msg_content msgcontent,
			from_id fromid,
			send_id sendid,
			msg_subject msgsubject,
			msg_delsnt msgdelsnt,
			msg_delrcv msgdelrcv
		FROM
			member m,
			messageList l
		WHERE
			m.uuid = l.from_id 
			AND
			(l.msg_delsnt = 1 OR l.msg_delrcv = 1)
		ORDER BY
			msg_regdate DESC
	</select>
	
	<update id="gotoTrash" parameterType="Map">
		UPDATE
			messageList 
		SET 
		<choose>
			<when test="sendid != null">
			msg_delsnt = 1 
			</when>
			<otherwise>
			msg_delrcv = 1
			</otherwise>		
		</choose>
		WHERE msg_id IN (
			<foreach collection='messageid' item="item" separator=",">
				#{item}
			</foreach>
		)
	</update>
	
	<select id="selectByMsgid" parameterType="int" resultType="com.sm.domain.MessageVO">
		SELECT 
			msg_id msgid, 
			msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject, 
			msg_delrcv msgdelrcv,
			msg_delsnt msgdelsnt
		FROM 
			messageList 
		WHERE 
			msg_id = #{msgid}
	</select>
	
	<update id="gotoTrashRead" parameterType="com.sm.domain.MessageVO">
		UPDATE 
			messageList 
		SET
		<choose>
			<when test="sendid != 0">
				msg_delsnt = 1 
			</when>
			<otherwise>
				msg_delrcv = 1
			</otherwise>
		</choose>
		WHERE msg_id = #{msgid}
	</update>
	
	<select id="prevClip" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
		SELECT 
			m.membernick membernick, 
			msg_id msgid, 
			msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject 
		FROM 
			member m, messageList l 
		WHERE
		<choose>
			<when test="fromid != 0">			
			<![CDATA[
			m.uuid = l.from_id AND
			msg_id IN (SELECT max(msg_id) FROM messageList WHERE msg_id < #{msgid} AND from_id =#{fromid} AND msg_delrcv =2)
			]]>
			</when>
			<otherwise>
			<![CDATA[
			m.uuid = l.send_id AND
			msg_id IN (SELECT max(msg_id) FROM messageList WHERE msg_id < #{msgid} AND send_id =#{sendid} AND msg_delsnt =2)
			]]>
			</otherwise>
		</choose>
		ORDER BY 
			msg_regdate DESC;
	</select>
	
	<select id="nextClip" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
		SELECT 
			m.membernick membernick, 
			msg_id msgid, 
			msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject 
		FROM 
			member m, messageList l 
		WHERE
		<choose>
			<when test="fromid != 0">			
			<![CDATA[
			m.uuid = l.from_id AND
			msg_id IN (SELECT min(msg_id) FROM messageList WHERE msg_id > #{msgid} AND from_id =#{fromid} AND msg_delrcv =2)
			]]>
			</when>
			<otherwise>
			<![CDATA[
			m.uuid = l.send_id AND
			msg_id IN (SELECT min(msg_id) FROM messageList WHERE msg_id > #{msgid} AND send_id =#{sendid} AND msg_delsnt =2)
			]]>
			</otherwise>
		</choose>
		ORDER BY 
			msg_regdate DESC;
	</select>
	
	<select id="selectByDelete" parameterType="map" resultType="com.sm.domain.MessageVO">
		SELECT 
			msg_id msgid, 
			msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject,
			msg_delsnt msgdelsnt,
			msg_delrcv msgdelrcv
		FROM 
			messageList
		WHERE 
			msg_id IN(
				<foreach collection="msgid" item="item" separator=",">
					#{item}
				</foreach>
			)
	</select>
	
	<update id="deleteOk" parameterType="com.sm.domain.MessageVO">
		UPDATE
			messageList
		SET 
			<choose>
				<when test="sendid != 0">
					msg_delsnt = 0
				</when>
				<otherwise>
					msg_delrcv = 0
				</otherwise>
			</choose>
		WHERE 
			msg_id = #{msgid}
	</update>
	
	<delete id="deleteForClip" parameterType="com.sm.domain.MessageVO"> 
		DELETE FROM 
			messageList 
		WHERE 
			msg_id = #{msgid};
	</delete>
</mapper>










