<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myMapper">
	
	<select id="selectUuid" parameterType="com.sm.domain.MemberVO" resultType="com.sm.domain.MemberVO">
	select 
		uuid 
	from 
		member 
	where 
		membernick = #{membernick}
	</select>
	
	
	<insert id="insertBlackList" parameterType="int">
		insert into 
			blackList 
		values (#{myuid}, #{otheruid})
	</insert>
	
	<select id="selectBlackList" parameterType="int" resultType="com.sm.domain.MemberVO">
		select 
			black_uuid as blackuuid
		from 
			blackList 
		where 
			uuid = #{uuid} 
	</select>
	
	<delete id="deleteBlackList" parameterType="int">
		delete from 
			blackList 
		where 
			black_uuid = #{otheruid}
	</delete>
	
	<insert id="sendToMsg" parameterType="com.sm.domain.MessageVO">
		insert into 
			messageList (msg_regdate , msg_content , from_id , send_id) 
		values
			(now(), #{msgcontent}, #{fromid}, #{sendid})
	</insert>
	
	
		
	
	
	
	
	
</mapper>