<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.myMapper">
	
	<select id="selectUuid" parameterType="com.sm.domain.MemberVO" resultType="com.sm.domain.MemberVO">
	SELECT 
		uuid 
	FROM 
		member 
	WHERE 
		membernick = #{membernick}
	</select>
	
	
	<insert id="insertBlackList" parameterType="int">
		INSERT INTO 
			blackList 
		VALUES (#{myuid}, #{otheruid})
	</insert>
	
	<select id="selectBlackList" parameterType="int" resultType="com.sm.domain.MemberVO">
		SELECT 
			black_uuid as blackuuid
		FROM
			blackList 
		WHERE
			uuid = #{uuid} 
	</select>
	
	<delete id="deleteBlackList" parameterType="int">
		DELETE FROM 
			blackList 
		WHERE 
			black_uuid = #{otheruid}
	</delete>
	
	<insert id="sendToMsg" parameterType="com.sm.domain.MessageVO">
		INSERT INTO 
			messageList (msg_regdate, 
			msg_content, 
			from_id, 
			send_id, 
			msg_subject) 
		VALUES
			(now(), #{msgcontent}, #{fromid}, #{sendid}, #{msgsubject})
	</insert>
	
	<select id="sendMessage" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
		SELECT 
			m.membernick membernick, 
			msg_id msgid, msg_regdate msgregdate, 
			msg_content msgcontent, 
			from_id fromid, 
			send_id sendid, 
			msg_subject msgsubject 
		FROM 
			member m, messageList l 
		WHERE 
			m.uuid = l.from_id and l.send_id = #{sendid}
	</select>
	
	<select id="countMessage" parameterType="com.sm.domain.MessageVO" resultType="int">
		SELECT 
			count(*) 
		FROM 
			messageList 
		WHERE 
			from_id = #{fromid}
	</select>
	
	<select id="receive" parameterType="com.sm.domain.MessageVO" resultType="com.sm.domain.MessageVO">
	SELECT 
		m.membernick membernick, 
		msg_id msgid, 
		msg_regdate msgregdate, 
		msg_content msgcontent, 
		from_id fromid, 
		send_id sendid, 
		msg_subject msgsubject 
	FROM 
		member m, 
		messageList l 
	WHERE 
		m.uuid = l.from_id AND 
		l.from_id = #{fromid}
	</select>
	
</mapper>