<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.noticeMapper">

	<!-- 슬라이드 공지 내용 -->
	<select id="slideContent"
		resultType="com.sm.domain.SlideNoticeVO">
		SELECT
			*
		FROM
			slideNotice
	</select>

	<!-- 슬라이드 공지 개수 -->
	<select id="slideCount" resultType="int">
		select
			count(*)
		from
			slideNotice
	</select>

	<!-- 슬라이드 공지 개수 추가 -->
	<insert id="slideJoin">
		INSERT INTO slideNotice
			(snContent)
		VALUES
			('');
	</insert>
	
	<!-- 슬라이드 공지 삭제 -->
	<update id="slideDelete" parameterType="int">
		UPDATE
			slideNotice
		SET
			snContent = ''
		WHERE 
			snId = #{snId};
	</update>
	
	<!-- 슬라이드 공지 수정 -->
	<update id="sNoticeUpdate" parameterType="com.sm.domain.SlideNoticeVO">
		UPDATE
			slideNotice
		SET
			snContent = #{snContent} 
		WHERE 
			snId = #{snId};
	</update>
	
	<!-- 슬라이드 공지 등록 N -->
	<update id="sNoticeEnrollNo">
		UPDATE 
			slideNotice
		SET
			snEnrollment = 'N';
	</update>

	<!-- 슬라이드 공지 등록 Y -->
	<update id="sNoticeEnrollYes" parameterType="hashmap">
		UPDATE 
			slideNotice
		SET
			snEnrollment = 'Y' 
		WHERE 
			snId IN
		<foreach collection="snId" item="snId" index="i"
		 open="(" close=")" separator=",">
            #{snId}
        </foreach> 
	</update>
	
	<!-- Enroll Y 인 Content 출력 -->
	<select id="sNoticeShow" resultType="String">
		SELECT
			snContent
		FROM
			slideNotice
		WHERE
			snEnrollment = 'Y' 
	</select>
	
	

</mapper>