<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.placelistMapper">

	<insert id="placeinsert" parameterType="com.sm.domain.PlacelistVo">
		INSERT INTO 
		placeList(
				placeid,
				placename,
				placeregdate,
				placecheck,
				placejuso,
				uuid,
				placecategory,
				bookmark,
				bloglink,
				iconname)
		VALUES(
				placeid,
				#{placename},
				now(),
				0,
				#{placejuso},
				#{uuid},
				#{placecategory},
				0,
				#{bloglink},
				#{iconname}
				);
	</insert>
	<select id="placeshow" parameterType="int" resultType="com.sm.domain.PlacelistVo">
		SELECT
			placeid,
			placename,
			placecategory,
			iconname,
			placejuso,
			placeregdate,
			bookmark,
			placecheck,
			bloglink
		FROM
		    placeList
		WHERE
			uuid =#{uuid}
		ORDER BY
		    bookmark DESC;
	</select>
	<update id="bookmark" parameterType="map">
		UPDATE	 
			placeList 
		SET 
			bookmark =#{bookmark} 
		WHERE 
			placeid= #{placeid};
	</update>
	
	<update id="checkbox" parameterType="map">
		UPDATE	 
			placeList 
		SET 
			placecheck =#{placecheck} 
		WHERE 
			placeid= #{placeid};
	</update>
	
	<select id="goplace" parameterType="map" resultType="com.sm.domain.PlacelistVo">
		SELECT
			*
		FROM
			placeList
		WHERE
			placecheck=#{placecheck} and uuid =#{uuid};
	</select>
	
	<select id="buttoncategory" parameterType="map" resultType="com.sm.domain.PlacelistVo">
		SELECT
			*
		FROM
			placeList
		WHERE  
			placecategory = #{placecategory} and placecheck =#{placecheck} and uuid=#{uuid};
	
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM 
			placeList  
		WHERE 
			placeid = #{placeid};
	</delete>
	
	<select id="foodchart" parameterType="int">
		
	
	
	</select>

</mapper>