<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.placelistMapper">

	<insert id="placeinsert" parameterType="com.sm.domain.PlacelistVo">
		INSERT INTO 
		placeList(
				placeid,
				placename,
				placeregdate,
				placecheck,
				placejuso,
				uuid,
				placecategory,
				bookmark,
				bloglink,
				iconname)
		VALUES(
				placeid,
				#{placename},
				now(),
				0,
				#{placejuso},
				#{uuid},
				#{placecategory},
				0,
				#{bloglink},
				#{iconname}
				);
	</insert>
	<select id="placeshow" parameterType="int" resultType="com.sm.domain.PlacelistVo">
		SELECT
			placeid,
			placename,
			placecategory,
			iconname,
			placejuso,
			placeregdate,
			bookmark,
			placecheck,
			bloglink
		FROM
		    placeList
		WHERE
			uuid =#{uuid}
		ORDER BY
		    bookmark DESC;
	</select>
	<update id="bookmark" parameterType="map">
		UPDATE	 
			placeList 
		SET 
			bookmark =#{bookmark} 
		WHERE 
			placeid= #{placeid};
	</update>
	
	<update id="checkbox" parameterType="map">
		UPDATE	 
			placeList 
		SET 
			placecheck =#{placecheck} 
		WHERE 
			placeid= #{placeid};
	</update>
	
	<select id="goplace" parameterType="map" resultType="com.sm.domain.PlacelistVo">
		SELECT
			*
		FROM
			placeList
		WHERE
			placecheck=#{placecheck} and uuid =#{uuid};
	</select>
	
	<select id="barchart" parameterType="map" resultType="int">
		SELECT
			count(placeid)
		FROM
			placeList
		WHERE  
			placecategory = #{placecategory} and placecheck =#{placecheck} and uuid=#{uuid};
	
	</select>
	
	<delete id="delete" parameterType="int">
		DELETE 
		FROM 
			placeList  
		WHERE 
			placeid = #{placeid};
	</delete>
	
	<select id="chartcount" parameterType="map" resultType="int">
		SELECT 
		   	  count(placeid)
		FROM 
			  placeList
		WHERE 
			  placecategory = #{placecategory} and uuid = #{uuid};
	
	
	</select>
	
	<select id="chartline" parameterType="map" resultType="int">
		SELECT
				count(placeid) 
		FROM 
				placeList 
		WHERE 
				uuid = #{uuid} and (DATE(placeregdate) BETWEEN  #{firstdate} and #{enddate});
	
	
	</select>
	
	
	<select id="area" parameterType="map" resultType="int">
		SELECT 
				count(*) 
		FROM 
				placeList  
		WHERE 
				placejuso 
		LIKE  
				#{areaname} and uuid =#{uuid};
	</select>
	
	
	<select id="follower" parameterType="int" resultType="com.sm.domain.MypageVO">
	SELECT
			*
	FROM
			follow
	WHERE 
			(uuid=#{uuid} OR follow_uuid=#{uuid});
	</select>
	
	<select id="bmcount" parameterType="int" resultType="com.sm.domain.MypageVO">
	SELECT
			*
	FROM
			bookmark
	WHERE 
			uuid=#{uuid};
	</select>
	
	<select id="membername" parameterType="int" resultType="String">
	SELECT
			membernick
	FROM
			member
	WHERE
			uuid=#{uuid};
	
	</select>
	
	<select id="following" parameterType="int" resultType="com.sm.domain.MypageVO">
	SELECT 
			b.membernick ,b.uuid,mp.p_name
	FROM 
			member b ,member_profile mp
	WHERE	
			 b.uuid = mp.uuid and b.uuid=#{uuid};
	</select>
	
	<select id="status" parameterType="map" resultType="String">
	SELECT 
			status 
	FROM 
			follow 
	WHERE 
			uuid = #{uuid} and follow_uuid =#{follow_uuid};
	</select>
	
	<select id="followingyoucheck" parameterType="int" resultType="int">
		SELECT 
				follow_uuid 
		FROM 
				follow 
		WHERE 
				uuid=#{uuid};
	</select>
	
	<select id="followingmecheck" parameterType="int" resultType="int">
		SELECT 
				uuid
		FROM
				follow 
		WHERE 
				follow_uuid=#{uuid};
	</select>
	<select id="followeryoucheck" parameterType="int" resultType="int">
		SELECT 
				follow_uuid 
		FROM 
				follow 
		WHERE 
				uuid=#{uuid};
	</select>
	
	<select id="followermecheck" parameterType="int" resultType="int">
		SELECT 
				uuid
		FROM
				follow 
		WHERE 
				follow_uuid=#{uuid};
	</select>
	
	<select id="mypagebm" parameterType="int" resultType="int">
	SELECT
			ts_id
	FROM
			bookmark
	WHERE 
			uuid=#{uuid};
	</select>
	
	<select id="mypagetravelstory" parameterType="int" resultType="com.sm.domain.travelmembernickVO">
	SELECT
			ts.tstitle ,ts.tsregdate ,m.membernick 
	FROM
			travel_story ts,member m
	WHERE 
			tsid=#{tsid} and ts.uuid =m.uuid ;
	</select>
	
	<select id="mypagelike" parameterType="int" resultType="com.sm.domain.TravelVO">
	SELECT
			*
	FROM
			travel_story
	WHERE 
			uuid=#{uuid}
	ORDER BY 
			tslike DESC
	LIMIT 7 ;
	</select>
	
	<insert id="followok" parameterType="map">
	INSERT INTO 
				follow 
	VALUES
				(#{uuid},#{follow_uuid},'Y');
				
	UPDATE 
			follow 
	SET 
			status = 'Y' 
	WHERE 
			uuid=#{follow_uuid} and follow_uuid=#{uuid};
		
	</insert>
	
	 <update id="followdel" parameterType="map">
	UPDATE 
			follow 
	SET 
			status = 'N' 
	where 
			uuid=#{follow_uuid} and follow_uuid=#{uuid};
	
	DELETE FROM 
				follow
	WHERE 
				uuid=#{uuid} and follow_uuid=#{follow_uuid};
	
	</update> 
	
	<select id="blacklistuuid" parameterType="int" resultType="com.sm.domain.MypageVO">
	SELECT
			*
	FROM
			blackList
	WHERE	
			uuid=#{uuid};
	
	</select>
	
	<delete id ="blacklistdel" parameterType="map">
	DELETE FROM
				blackList
	WHERE
	     uuid=#{uuid} and blackUuid = #{black_uuid};
	
	</delete>
	
	<select id="mypageline" parameterType="map" resultType="int">
		SELECT
				count(tsid) 
		FROM 
				travel_story 
		WHERE 
				uuid = #{uuid} and (DATE(tsregdate) BETWEEN  #{firstdate} and #{enddate});
	
	
	</select>
	
	<select id="reply" parameterType="int" resultType="com.sm.domain.MypageVO">
	SELECT
			tsr.ts_reply_comment ,tsr.reply_regdate ,ts.tstitle,ts.uuid
	FROM
			travel_story_reply tsr,travel_story ts
	WHERE
			tsr.uuid = #{uuid} and tsr.ts_id = ts.tsid;
			
	</select>
	
	<select id="mypagelistcount" parameterType="int" resultType="int">
	select count(*) from travel_story  where uuid=#{uuid};
	</select>
	
	
	<select id="boardList" parameterType="map" resultType="com.sm.domain.MypageVO">
        SELECT 
              tsid        
            , uuid     
            , tstitle    
            , tsregdate
            ,tsstartdate
            ,tsenddate
        FROM 
        	travel_story 
    	WHERE
    		uuid=#{uuid}
 
        <!-- 다른 메서드 호출시 반영되지 않기위해 걸어놓은 조건문 -->
        <if test="startRow neq lastPage"> 
            ORDER BY tsid ASC
            LIMIT #{startRow},#{rowPerPage}
        </if>
    </select>


	<insert id="insertTravelView" parameterType="com.sm.domain.TravelViewVO">
		INSERT INTO 
			travel_story_view (
				uuid,
				tsid,
				tstitle,
				tsUrl,
				viewDate 
			)
		VALUES(
				#{uuid},
				#{tsid},
				#{tstitle},
				#{tsUrl},
				now()
			);
	</insert>	
	
	<select id="selectTravelViewByUuid" resultType="com.sm.domain.TravelViewVO" parameterType="int">
		<!-- SELECT 
			tsid , tsUrl , tstitle
		FROM 
			travel_story_view 
		WHERE
			uuid = #{uuid} --> 
		SELECT 
			tsv.tsid , tsv.tsUrl , tsv.tstitle,ts.uuid ,tsv.viewDate
		FROM 
			travel_story_view tsv,travel_story ts
		WHERE
			tsv.uuid = #{uuid} and tsv.tsid = ts.tsid	
		AND 
			date(viewDate) >= SUBDATE(NOW(),INTERVAL 3 DAY)
		ORDER BY 
			viewDate DESC
		LIMIT 7;
	</select>
	
	<select id="countTravelViewbyUuid" resultType="int" parameterType="int">
		SELECT 
			COUNT(*)
		FROM 
			travel_story_view 
		WHERE 
			uuid = #{uuid} 
		AND 
			date(viewDate) >= SUBDATE(NOW(),INTERVAL 3 DAY);
	</select>
	
	<update id="updateViewDateBytsid" parameterType="map">
		UPDATE 
			travel_story_view 
		SET
			viewDate = now()
		WHERE
			tsid = #{tsid}
		AND 
			uuid = #{uuid};
	</update>
	
	<delete id="deleteTravelViewAuto">
		DELETE FROM 
			travel_story_view 
		WHERE 
			viewDate > SUBDATE(NOW(), INTERVAL 7 DAY);
	</delete>
	
	<select id="selectTravelStoryByTsid" resultType="com.sm.domain.TravelVO" parameterType="int">
		SELECT
			tstitle , uuid
		FROM 
			travel_story 
		WHERE
			tsid = #{tsid};
	</select>
	<select id="selectmember" resultType="String" parameterType="int">
		SELECT
			membernick
		FROM 
			member 
		WHERE
			uuid=#{uuid};
	</select>
</mapper>