<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.travelMapper">

	<!-- 스토리등록 -->
	<insert id="storyRegist" parameterType="com.sm.domain.TravelVO">
		INSERT INTO travel_story(
			tsid,
			uuid,
			tstitle,
			tslike,
			tsregdate,
			tshashtagone,
			tsstartdate,
			tsenddate
			)
		VALUES(
			tsid,
			9,
			#{tstitle},
			#{tslike},
			tsregdate,
			#{tshashtagone},
			#{tsstartdate},
			#{tsenddate},
			tsfare
			);
	</insert>
	<insert id="story_detail_Regist">
	
		<!-- 방금 insert된  부모의 키값을 알아오기 위한 쿼리문 -->
	 	<selectKey resultType="int" keyProperty="tsid" order="BEFORE">
        	SELECT MAX(tsid) FROM travel_story        
    	</selectKey>
			INSERT INTO travel_story_info
			(
				tsiid,
				tsid,
				tsidDay,
				tsititle,
				tsicomment
			)
			VALUES
			<foreach collection="infoList" item="type" separator=",">
			(
				tsiid,
				#{tsid},
				#{type.tsidDay},
				#{type.tsititle},
				#{type.tsicomment}
			)
			</foreach>
	</insert>
	
	<insert id="travel_firstSave" useGeneratedKeys="true" keyProperty="tsid"  parameterType="com.sm.domain.TravelVO">
		INSERT INTO travel_story VALUES(
			tsid,
			#{uuid},
			#{tstitle},
			tslike,
			now(),
			'해쉬태그',
			#{tsstartdate},
			#{tsenddate},
			tempsave
		)
	</insert>
	
	<select id="getTravelStory" parameterType="hashmap" resultType="com.sm.domain.TravelVO">
		SELECT 	
			tsid,
			uuid,
			tstitle,
			tslike,
			tsregdate,
			tshashtagone,
			tsstartdate,
			tsenddate,
			DATEDIFF(tsenddate ,tsstartdate )+1 AS datediff,
			tempsave 
		FROM
			travel_story 
		WHERE
			tsid=#{tsid} AND uuid=#{uuid};
	</select>

</mapper>