<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.weatherlocalMapper">

<select id="weatherLocalName" resultType="com.sm.domain.WeatherLocalVO">

	SELECT
			localuid,
			localname,
			localnx, 
			localny,
			localparent,
			localdepth  
	FROM
			weatherLocal
	WHERE
			localdepth = 1 AND localparent = #{localparent}
	

</select>

<select id="selectParentWeather" resultType="com.sm.domain.WeatherLocalVO">

	SELECT
			localuid,
			localname,
			localnx, 
			localny,
			localparent,
			localdepth  
	FROM
			weatherLocal
	WHERE
			localdepth = 0
	

</select>

<select id="selectWeatherlocaluid" resultType="int">

	SELECT
		weatherlocaluid
	FROM
		member
	WHERE
	 	uuid = #{uuid}
	

</select>

<update id="updateWeatherlocaluid" parameterType="map">

	UPDATE 
		member 
	SET
		weatherlocaluid = #{weatherlocaluid}
	WHERE 
		uuid = #{uuid}
	

</update>

<select id="selectlocalInfoBylocaluid" resultType="com.sm.domain.WeatherLocalVO">

	SELECT
			localuid,
			localname,
			localnx, 
			localny,
			localparent,
			localdepth  
	FROM
			weatherLocal
	WHERE
			localuid = #{localuid}
	

</select>

<!-- 나중에 travelmapper 로 이동!!  -->
<select id = "selectmaintravelListOrderbyTslike" resultType="com.sm.domain.TravelVO">

	SELECT
		tsid,
		tstitle,
		tsregdate,
		tslike,
		uuid,
		(SELECT count(*) FROM bookmark WHERE ts_id=a.tsid ) AS bookmark,
		(SELECT photo_custom_name FROM photo WHERE ts_id=a.tsid AND photo_main ='Y') AS photo_main
	FROM 
		travel_story a
	WHERE
		tempsave ='N'
	ORDER BY 
		tslike DESC

</select>

<!-- 나중에 travelmapper 로 이동!!  -->
<select id="selectmaintravelListOrderbyTsView" resultType="com.sm.domain.TravelVO">
	
	SELECT
		tsid,
		tstitle,
		tsregdate,
		tslike,
		uuid,
		(SELECT count(*) FROM bookmark WHERE ts_id=a.tsid ) AS bookmark,
		(SELECT photo_custom_name FROM photo WHERE ts_id=a.tsid AND photo_main ='Y') AS photo_main
	FROM 
		travel_story a
	WHERE
		tempsave ='N'
	ORDER BY 
		bookmark DESC
	;
	
</select>

</mapper>