<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"> 
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<meta charset="UTF-8">
<title>채팅 페이지</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/chat.css}">
<script src="js/chat.js"></script>
</head>
<body>
	<div id="chat_container" class="chat_container">
		<h1>채팅</h1>
		<input type="hidden" id="sessionId" value="">
		<input th:if="${session.userInfo != null}" type="hidden" id="userSessionId" th:value="${session.userInfo.memberid}">
		<div id="chating" class="chating">
		</div>
		<div th:if="${session.userInfo != null}" id="yourMsg">
			<div id="chatin">
				<input type="button" id="chatinBtn" onclick="chatConn()" value="채팅방 입장"/>
			</div>
			
			<table class="inputTable">
				<tr>
					<th th:text="${session.userInfo.memberid}">유저아이디</th>
					<th><input type="text" id="chatting" placeholder="보내실 메시지를 입력하세요."></th>
					<th><button onclick="send()" id="sendBtn">보내기</button></th>
				</tr>
			</table>
		</div>
	</div>
</body>
</html>