<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>쪽지함</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" href="../css/dist/css/adminlte.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
<script src="https://code.jquery.com/jquery-3.4.1.js" type="text/javascript"></script>
<script src="../js/message.js" type="text/javascript"></script>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<div th:include="common/Sidebar :: header_aside"></div>
	<div class="content-wrapper" style="min-height: 1157.69px; margin-top: 50px">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>쪽지함</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-3">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">카테고리</h3>

              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body p-0">
              <ul class="nav nav-pills flex-column">
                <li class="nav-item send">
                  <a th:href=@{/my/clipSend(sendid=${session.userInfo.uuid})} class="nav-link">
                    <i class="fas fa-inbox"></i> 보낸 쪽지함
                  </a>
                </li>
                <li class="nav-item receive">
                  <a th:href=@{/my/clipReceive(fromid=${session.userInfo.uuid})} class="nav-link ">
                    <i class="far fa-envelope"></i> 받은 쪽지함
                    <span th:if="${cntMsg != null}" class="badge bg-primary float-right cntMsg" th:text="${cntMsg}"></span>
                  </a>
                </li>
                <li class="nav-item trash">
                  <a th:href=@{/my/clipTrash(fromid=${session.userInfo.uuid},sendid=${list[0].fromid})} class="nav-link ">
                    <i class="fas fa-trash-alt"></i> 휴지통
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h3 class="card-title subject">보낸 쪽지함</h3>

              <div class="card-tools">
                <div class="input-group input-group-sm">
                  <input type="text" id="searchClip" class="form-control" placeholder="제목 검색...">
                </div>
              </div>
              <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive mailbox-messages">
                <table class="searchTable table table-hover table-striped">
                  <tbody class="tb-cl">
                  <tr th:each="list : ${list}">
                    <td>
                      <div class="icheck-primary">
                        <input type="checkbox" th:value="${list.msgid}" class="check1">
                      </div>
                    </td>
                    <td class="mailbox-name" th:text="${list.membernick}"></td>
                    <td class="mailbox-subject"><a th:href=@{/my/clipread(msgid=${list.msgid},sendid=${list.sendid})} class='alert-link' style='color:black'><span th:text="${list.msgsubject}"></span></a></td>
                    <td class="mailbox-date" th:text="${list.msgregdate}"></td>
                  </tr>
                  </tbody>
                </table>
                <!-- /.table -->
              </div>
              <!-- /.mail-box-messages -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer p-0">
              <div class="mailbox-controls">
                <!-- Check all button -->
                <button type="button" class="btn btn-default btn-sm checkbox-toggle" onclick="chkAll()"><i class="far fa-square"></i></button>
                <div class="btn-group">
                  <button type="button" class="btn btn-default btn-sm" onclick="goToTrashSend()"><i class="far fa-trash-alt"></i></button>
                </div>
                <!-- /.btn-group -->
                <div class="float-right">
                  1-50/200
                  <div class="btn-group">
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                  </div>
                  <!-- /.btn-group -->
                </div>
                <!-- /.float-right -->
              </div>
            </div>
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
	
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e957a3a75c171b18d05297414326bb8d&libraries=services"></script>
	<script src="../js/wish.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/placedash.js"></script>
	<script src="../js/dist/js/adminlte.js"></script>
	<script src="../js/dist/js/demo.js"></script>
</body>
</html>