<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>5trip Weather</title>

		<!-- Loading third party fonts -->
		<link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css">
		<link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
        <![endif]-->
        <th:block th:replace="common/commonHead"></th:block>
		<link rel="stylesheet" href="../css/weather.css">
	    <script src="../js/weather.js"></script>
	

	</head>


	<body>
		
		<div class="site-content">
			<!--<div class="site-header">
				<div class="container">
					<a href="index.html" class="branding">
						<img src="images/logo.png" alt="" class="logo">
						<div class="logo-type">
							<h1 class="site-title">Company name</h1>
							<small class="site-description">tagline goes here</small>
						</div>
					</a> -->

					<!-- Default snippet for navigation -->
				<!--	<div class="main-navigation">
						<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="index.html">Home</a></li>
							<li class="menu-item"><a href="news.html">News</a></li>
							<li class="menu-item"><a href="live-cameras.html">Live cameras</a></li>
							<li class="menu-item"><a href="photos.html">Photos</a></li>
							<li class="menu-item"><a href="contact.html">Contact</a></li>
						</ul>--> <!-- .menu -->
					<!-- </div> 

					<div class="mobile-navigation"></div>

				</div>
            </div>   -->
            <!-- .site-header -->

			<div class="hero" data-bg-image="images/banner.png">
				<div class="container">
                    <!-- 위치 데이터 받아오는 곳 ajax-->
					<form  class="find-location">
                        <div class="input-group-option">
                            <div class="cate" id="localCate">
                                <label for="first_local">지역을 고르세요</label>
                                                               
                                <select id="first_local" name="first_local" placeholder="지역을 선택하세요">
									<option id="hiddenOption1">지역을 선택하세요</option>									
									<option th:each = "list : ${list}" th:value1 = "${list.localnx}" th:value2 = "${list.localny}" th:value3 = "${list.localuid}" th:value4 = "${list.localname}" th:text = "${list.localname}"></option>
								</select>
								<input id="parentuid" type="text" hidden="hidden" name="weatherparentuid"/>

								<select id="second_local" name="second_local" placeholder="지역을 선택하세요" disabled = "disabled">
								<!--	<option id="hiddenOption2">지역을 선택하세요</option> -->
								</select>
								<input id="weatherlocalnx" type="text" hidden="hidden" name="weatherlocalnx"/>
								<input id="weatherlocalny" type="text" hidden="hidden" name="weatherlocalny"/>
                            </div>
                        </div>
                    
					</form>

				</div>
            </div>
            
			<div class="forecast-table">
				<div class="container">
					<div class="forecast-container">
                        <!-- 현재 날씨 header-->
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day">Monday</div>
								<div class="date" th:text = "${nowData}">6 Oct</div>
                            </div> 
                            
                            <!-- .forecast-header 현재 날씨 내용(정보) -->
							<div class="forecast-content">
								<div class="location">
									<span id="location1"></span>
									<span id="location2"></span>
								</div>

								<div class="degree">
									<div class="num" id="nowTEMP">23<sup>o</sup>C</div>
									<!-- <div class="num" id="nowTEMP">23<sup>o</sup>C</div> -->
									<div class="forecast-icon">
										<img id="nowSKY" src="images/icons/icon-1.svg" alt="" width=90>
									</div>	
								</div>
								<span id="nowPOP"></span>
								<span id="nowWSD"></span>
								<span id="nowVEC"></span>
							<!--	<span id="nowWSD"><img src="../image/weather/icon-wind.png" alt="">18km/h</span>
								<span id="nowVEC"><img src="../image/weather/icon-compass.png" alt="">East</span> -->
							</div>
                        </div>
                        
                        <!-- 이후 날씨 예보 -->
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime1">Tuesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY1" src="images/icons/icon-3.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree1">23<sup>o</sup>C</div>
								<span id="nowPOP1"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime2">Wednesday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY2" src="images/icons/icon-5.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree2">23<sup>o</sup>C</div>
								<span id="nowPOP2"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime3">Thursday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY3" src="images/icons/icon-7.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree3">23<sup>o</sup>C</div>
								<span id="nowPOP3"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime4">Friday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY4" src="images/icons/icon-12.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree4">23<sup>o</sup>C</div>
								<span id="nowPOP4"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime5">Saturday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY5" src="images/icons/icon-13.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree5">23<sup>o</sup>C</div>
								<span id="nowPOP5"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime6">Sunday</div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY6" src="images/icons/icon-14.svg" alt="" width=48>
								</div>
								<div class="degree" id="degree6">23<sup>o</sup>C</div>
								<span id="nowPOP6"></span>
							</div>
						</div>
					</div>
				</div>
            </div>
            
            <!-- 상세 날씨 차트 출력 (chart.js) 사용 -->
			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
						<h2 class="section-title">Live cameras</h2>
						<div class="row">
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-1.jpg" alt=""></figure>
									<h3 class="location">New York</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-2.jpg" alt=""></figure>
									<h3 class="location">Los Angeles</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-3.jpg" alt=""></figure>
									<h3 class="location">Chicago</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
							<div class="col-md-3 col-sm-6">
								<div class="live-camera">
									<figure class="live-camera-cover"><img src="images/live-camera-4.jpg" alt=""></figure>
									<h3 class="location">London</h3>
									<small class="date">8 oct, 8:00AM</small>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo saepe assumenda dolorem modi, expedita voluptatum ducimus necessitatibus. Asperiores quod reprehenderit necessitatibus harum, mollitia, odit et consequatur maxime nisi amet doloremque.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Nobis architecto consequatur ab, ea, eum autem aperiam accusantium placeat vitae facere explicabo temporibus minus distinctio cum optio quis, dignissimos eius aspernatur fuga. Praesentium totam, corrupti beatae amet expedita veritatis.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Enim impedit officiis placeat qui recusandae doloremque possimus, iusto blanditiis, quam optio delectus maiores. Possimus rerum, velit cum natus eos. Cumque pariatur beatae asperiores, esse libero quas ad dolorem. Voluptates.</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#">Accusantium doloremque laudantium rem aperiam</a></li>
									<li><a href="#">Eaque ipsa quae ab illo inventore veritatis quasi</a></li>
									<li><a href="#">Architecto beatae vitae dicta sunt explicabo</a></li>
									<li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
									<li><a href="#">Aspernatur aut odit aut fugit, sed quia consequuntur</a></li>
									<li><a href="#">Magni dolores eos qui ratione voluptatem sequi</a></li>
									<li><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
			</main> <!-- .main-content -->
<!--
			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-8">
							<form action="#" class="subscribe-form">
								<input type="text" placeholder="Enter your email to subscribe...">
								<input type="submit" value="Subscribe">
							</form>
						</div>
						<div class="col-md-3 col-md-offset-1">
							<div class="social-links">
								<a href="#"><i class="fa fa-facebook"></i></a>
								<a href="#"><i class="fa fa-twitter"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-pinterest"></i></a>
							</div>
						</div>
					</div>

					<p class="colophon">Copyright 2014 Company name. Designed by Themezy. All rights reserved</p>
				</div>
            </footer>
            -->
            <!-- .site-footer -->
		</div>
		
		<script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script>
		
	</body>

</html>