<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
		
		<title>5trip Weather</title>

		<!-- Loading third party fonts -->
		<!-- <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,700|" rel="stylesheet" type="text/css"> -->
		<!-- <link href="fonts/font-awesome.min.css" rel="stylesheet" type="text/css"> -->

		<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" /> 

		<!-- Loading main css file -->
		
		<!--[if lt IE 9]>
		<script src="js/ie-support/html5.js"></script>
		<script src="js/ie-support/respond.js"></script>
        <![endif]-->
        <th:block th:replace="common/commonHead"></th:block>
		<link rel="stylesheet" href="../css/weather.css">
		

	</head>


	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		th:include="common/header :: header_nav"></nav>
		<div class="site-content">
			
			<div class="hero" data-bg-image="../image/weather/weather_bg.jpg" style="background-image: url(&quot;../image/weather/weather_bg.jpg&quot;);" >
				<div class="container">
                    <!-- 위치 데이터 받아오는 곳 ajax-->
					<form class="find-location">
						<!-- <label for="first_local">지역을 고르세요</label> -->
														
						<select id="first_local" name="first_local" placeholder="지역을 선택하세요">
							<option id="hiddenOption1">지역을 선택하세요</option>									
							<option th:each = "list : ${list}" th:value1 = "${list.localnx}" th:value2 = "${list.localny}" th:value3 = "${list.localuid}" th:value4 = "${list.localname}" th:text = "${list.localname}"></option>
						</select>
						<input id="parentuid" type="text" hidden="hidden" name="weatherparentuid"/>

						<select id="second_local" name="second_local" placeholder="지역을 선택하세요" disabled = "disabled">
						<!--	<option id="hiddenOption2">지역을 선택하세요</option> -->
						</select>
						<input id="weatherlocalnx" type="text" hidden="hidden" name="weatherlocalnx"/>
						<input id="weatherlocalny" type="text" hidden="hidden" name="weatherlocalny"/>
						<input type="button" value="위치 저장하기" id="saveuid">
					</form>

				</div>
            </div>
            
			<div class="forecast-table">
				<div class="container" id="weather_local">
					<div class="forecast-container">
                        <!-- 현재 날씨 header-->
						<div class="today forecast">
							<div class="forecast-header">
								<div class="day" id= "nowDate"></div>
								<div class="day" id= "nowText">현재 시간</div>
								<div class="date" th:text = "${nowData}">6 Oct</div>
                            </div> 
                            
                            <!-- .forecast-header 현재 날씨 내용(정보) -->
							<div class="forecast-content">
								<div class="location">
									<span class="location1"></span>
									<span class="location2"></span>
								</div>

								<div class="degree">
									<div class="num" id="nowTEMP"></div>
									<div class="forecast-icon">
										<img id="nowSKY" alt="" width=90>
									</div>	
								</div>
								<span id="nowPOP"></span>
								<span id="nowWSD"></span>
								<span id="nowVEC"></span>
							</div>
                        </div>
                        
                        <!-- 이후 날씨 예보 -->
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime1"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY1" alt="" width=48>
								</div>
								<div class="degree" id="degree1"></div>
								<span id="nowPOP1"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime2"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY2" alt="" width=48>
								</div>
								<div class="degree" id="degree2"></div>
								<span id="nowPOP2"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime3"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY3" alt="" width=48>
								</div>
								<div class="degree" id="degree3"></div>
								<span id="nowPOP3"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime4"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY4" alt="" width=48>
								</div>
								<div class="degree" id="degree4"></div>
								<span id="nowPOP4"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime5"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY5" alt="" width=48>
								</div>
								<div class="degree" id="degree5"></div>
								<span id="nowPOP5"></span>
							</div>
						</div>
						<div class="forecast">
							<div class="forecast-header">
								<div class="day" id="nowTime6"></div>
							</div> <!-- .forecast-header -->
							<div class="forecast-content">
								<div class="forecast-icon">
									<img id="SKY6" alt="" width=48>
								</div>
								<div class="degree" id="degree6"></div>
								<span id="nowPOP6"></span>
							</div>
						</div>
					</div>
				</div>
            </div>
            
			<main class="main-content">
				<!-- 상세 날씨 차트 출력 (chart.js) 사용 -->
				<div class="fullwidth-block">
					 <div class="container">
						<h4 class="section-title"></h4>
						<div class="row">

							<div class="col-12">
								<div class="card card-chart">
								  	<div class="card-header ">
										<div class="row">
											<div class="col-sm-6 text-left">
												<h3 class="card-category"></h3>
												<h2 class="card-title">
													<span class="location1"></span>
													<span class="location2"></span>
												</h2>
											</div>
										
											<!-- 버튼 조작 부 -->
											<div class="col-sm-6">
												<div class="btn-group btn-group-toggle float-right" data-toggle="buttons">
													<label class="btn btn-sm btn-primary btn-simple active" id="0">
														<input type="radio" name="options" checked="">
														<span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">습도</span>
														<span class="d-block d-sm-none">
														<i class="tim-icons icon-single-02"></i>
														</span>
													</label>
													<label class="btn btn-sm btn-primary btn-simple" id="1">
														<input type="radio" class="d-none d-sm-none" name="options">
														<span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">강수확률</span>
														<span class="d-block d-sm-none">
														<i class="tim-icons icon-gift-2"></i>
														</span>
													</label>
													<label class="btn btn-sm btn-primary btn-simple" id="2">
														<input type="radio" class="d-none" name="options">
														<span class="d-none d-sm-block d-md-block d-lg-block d-xl-block">강수량</span>
														<span class="d-block d-sm-none">
														<i class="tim-icons icon-tap-02"></i>
														</span>
													</label>
												</div>
											</div>
										</div>
									</div>

									<div class="card-body">
										<div class="chart-area">
											<div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
												<div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
													<div style="position:absolute;width:200%;height:200%;left:0; top:0">
													</div>
												</div>
											</div>
										<canvas id="chartBig1" width="896" height="220" class="chartjs-render-monitor" style="display: block; width: 896px; height: 220px;"></canvas>
									</div>
								</div>
							</div>
						</div>

						<!-- <div class="col-md-3 col-sm-6">
							<div class="live-camera">
								<figure class="live-camera-cover"><img src="" alt=""></figure>
								<h3 class="location">New York</h3>
								<small class="date">8 oct, 8:00AM</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="live-camera">
								<figure class="live-camera-cover"><img src="" alt=""></figure>
								<h3 class="location">Los Angeles</h3>
								<small class="date">8 oct, 8:00AM</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="live-camera">
								<figure class="live-camera-cover"><img src="" alt=""></figure>
								<h3 class="location">Chicago</h3>
								<small class="date">8 oct, 8:00AM</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="live-camera">
								<figure class="live-camera-cover"><img src="" alt=""></figure>
								<h3 class="location">London</h3>
								<small class="date">8 oct, 8:00AM</small>
							</div> 
						</div> -->

							
					</div> 
				</div>

				<!-- <div class="fullwidth-block" data-bg-color="#262936">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo saepe assumenda dolorem modi, expedita voluptatum ducimus necessitatibus. Asperiores quod reprehenderit necessitatibus harum, mollitia, odit et consequatur maxime nisi amet doloremque.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Nobis architecto consequatur ab, ea, eum autem aperiam accusantium placeat vitae facere explicabo temporibus minus distinctio cum optio quis, dignissimos eius aspernatur fuga. Praesentium totam, corrupti beatae amet expedita veritatis.</p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="news">
									<div class="date">06.10</div>
									<h3><a href="#">Doloremque laudantium totam sequi </a></h3>
									<p>Enim impedit officiis placeat qui recusandae doloremque possimus, iusto blanditiis, quam optio delectus maiores. Possimus rerum, velit cum natus eos. Cumque pariatur beatae asperiores, esse libero quas ad dolorem. Voluptates.</p>
								</div>
							</div>
						</div>
					</div>
				</div> -->

				<!-- <div class="fullwidth-block">
					<div class="container">
						<div class="row">
							<div class="col-md-4">
								<h2 class="section-title">Application features</h2>
								<ul class="arrow-feature">
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
									<li>
										<h3>Natus error sit voluptatem accusantium</h3>
										<p>Doloremque laudantium totam rem aperiam Inventore veritatis et quasi architecto beatae vitae.</p>
									</li>
								</ul>
							</div>
							<div class="col-md-4">
								<h2 class="section-title">Weather analyssis</h2>
								<ul class="arrow-list">
									<li><a href="#">Accusantium doloremque laudantium rem aperiam</a></li>
									<li><a href="#">Eaque ipsa quae ab illo inventore veritatis quasi</a></li>
									<li><a href="#">Architecto beatae vitae dicta sunt explicabo</a></li>
									<li><a href="#">Nemo enim ipsam voluptatem quia voluptas</a></li>
									<li><a href="#">Aspernatur aut odit aut fugit, sed quia consequuntur</a></li>
									<li><a href="#">Magni dolores eos qui ratione voluptatem sequi</a></li>
									<li><a href="#">Neque porro quisquam est qui dolorem ipsum quia</a></li>
								</ul>
							</div>
							
						</div>
					</div>
				</div> -->
			</main> <!-- .main-content -->

		</div>
		
		<!-- <script src="js/jquery-1.11.1.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/app.js"></script> -->
		<!-- <script src="https://cdnjs.com/libraries/Chart.js"></script> -->
		<script type="text/javascript" src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
		<script src="../js/chartjs.min.js"></script>
		<script src="../js/weather.js"></script>

	</body>

</html>