<link rel="stylesheet" href="../css/weathermodal.css">

<div class="weather-wrapper" >
  <!-- <div class="weather-card sunny" >
      <div class="weather-icon sun" ></div>
      <h1>26º</h1>
      <p>Madrid</p>
  </div> -->
  <div class="weather-card">
    <button id="maxIcon" hidden="hidden" class="btn btn-default"><i class="far fa-window-maximize"></i></button>
    <div id="hiddenbox">
      <button id="weather-button" class="btn btn-default"><i class="far fa-window-minimize"></i></button>
      <div id="weathericon" class="weather-icon cloud"></div>
      <h1 id="temp"></h1>
      <p>
        <span id="location1"></span>
        <span id="location2"></span>
      </p>
    </div>
  </div>
</div>
<script src="//code.jquery.com/jquery-1.12.4.js"></script>
<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>


<!-- Link to my website -->
<!-- <a id="ajerez" href="http://www.ajerez.es/en/" target="_blank"><img src="https://i.imgur.com/AI4BS2I.png"/></a> -->

