<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>내정보</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" href="../css/dist/css/adminlte.min.css">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/slick-theme.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/inform.css}">
<script src="../js/inform.js"></script>
</head>
<body class="sidebar-mini layout-fixed" style="height: auto;">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<div th:include="common/Sidebar :: header_aside"></div>
	<div class="content-wrapper px-5" style="padding-top: 80px">
		<div class="header">
			<h2>프로필 수정</h2>
			<div>TRIP5 대표 프로필과 별병을 수정 하실 수 있습니다.</div>
		</div>
		<table class="myInfo">
			<tr class="profile center">
				<td class="profileLeft width_pl">프로필 사진</td>
				<td class="profileRight width_pr">
					<div class="form-group" id="file-list">
						<div class="photo"></div>
						<div class="filebox" style="padding: 0px;">
							<label for="photo">업로드</label> 
							<input type="file" id="photo">
						</div>
						<a class="deletePhoto">삭제</a>
					</div>
				</td>
			</tr>
			<tr>
				<td class="nickname">별명</td>
				<td class="nickInput">
					<input th:value="${session.userInfo.membernick}">
				</td>
			</tr>
		</table>
		<div class="text-center">
			<div class="change">적용</div>
			<div class="cancel">삭제</div>
		</div>
	</div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e957a3a75c171b18d05297414326bb8d&libraries=services"></script>
	<script src="../js/wish.js"></script>
	<script src="../js/slick.min.js"></script>
	<script src="../js/placedash.js"></script>
	<script src="../js/dist/js/bootstrap.bundle.min.js"></script>
	<script src="../js/dist/js/adminlte.js"></script>
	<script src="../js/dist/js/demo.js"></script>
	<script src="../js/dist/js/pages/dashboard3.js"></script>

</body>
</html>