<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>내정보</title>
<th:block th:replace="common/commonHead"></th:block>
</head>
<body>
	<!-- 공통 헤드 nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<!-- //공통 헤드 nav -->

	<div class="app">

		<div class="cardList">
			<button class="cardList__btn btn--left">
				<div class="icon">
					<svg>
					<use xlink:href="#arrow-left"></use>
				</svg>
				</div>
			</button>

			<div class="cards__wrapper">
				<div class="card current--card" data-url="/user/inform">
					<div class="card__image">
						<img src="../image/MyInfo.jpg" alt="" />
					</div>
				</div>

				<div class="card next--card">
					<div class="card__image" data-url="#">
						<img src="../image/TripLog.jpg" alt="" />
					</div>
				</div>

				<div class="card previous--card" >
					<div class="card__image" data-url="#">
						<img src="../image/Message.jpg" alt="" />
					</div>
				</div>
			</div>

			<button class="cardList__btn btn--right">
				<div class="icon">
					<svg>
					<use xlink:href="#arrow-right"></use>
				</svg>
				</div>
			</button>
		</div>

		<div class="infoList">
			<div class="info__wrapper">
				<div class="info current--info">
					<h1 class="text name">My Info</h1>
					<h4 class="text location">개인정보 관리</h4>
					<p class="text description"><span th:text="${session.userInfo.membernick}"></span>님 반갑습니다~</p>
				</div>

				<div class="info next--info">
					<h1 class="text name">Trip log</h1>
					<h4 class="text location">여행일지 관리 </h4>
					<p class="text description">나만의 여행일지 관리할 수 있어요!</p>
				</div>

				<div class="info previous--info">
					<h1 class="text name">Message</h1>
					<h4 class="text location">쪽지 관리</h4>
					<p class="text description">나에게 온 쪽지를 관리 할 수 있어요!</p>
				</div>
			</div>
		</div>


		<div class="app__bg">
			<div class="app__bg__image current--image">
				<img src="../image/MyInfo.jpg" alt="" />
			</div>
			<div class="app__bg__image next--image">
				<img src="../image/TripLog.jpg" alt="" />
			</div>
			<div class="app__bg__image previous--image">
				<img src="../image/Message.jpg" alt="" />
			</div>
		</div>
	</div>

	<div class="loading__wrapper">
		<div class="loader--text">Loading...</div>
		<div class="loader">
			<span></span>
		</div>
	</div>


	<svg class="icons" style="display: none;">
		<symbol id="arrow-left" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
			<polyline points='328 112 184 256 328 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
		</symbol>
		<symbol id="arrow-right" xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'>
			<polyline points='184 112 328 256 184 400' style='fill:none;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px' />
		</symbol>
	</svg>
</body>
<link rel="stylesheet" type="text/css" th:href="@{../css/myinfo.css}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css">
<link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap"rel="stylesheet'>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.3.3/gsap.min.js"></script>
<script src="../js/myinfo.js"></script>
<script src="../js/myinfo2.js"></script>
</html>