<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>회원가입 페이지</title>
</head>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="../js/signup.js"></script>
<body>
	<h1>회원 가입</h1>
	<hr>


	<form th:action="@{/user/signup}" method="post" modelAttribute="${memverVO}">
		<!-- 이메일(아이디) 입력  -->
		<div>
			<input type="text" id="memberemail" name="memberemail"
			 th:value="${memberVO.memberemail}" placeholder="이메일을 입력하세요">
			<!-- 프론트앤드 유효성 검사 -->
			<p class="result">
				<span class="msg"></span>
			</p>
		</div>		
		<button type="button" class="idCheck">아이디 확인</button>
		<span th:text="${valid_memberemail}"></span>
		
		<input class="idCheckNum" type="hidden" name="idCheckNum" value="1"/>
		
		<!-- 비밀번호 입력  -->
		<div>
			<input type="password" name="memberpass"
			 placeholder="비밀번호" th:value="${memberVO.memberpass}"> 
		</div>
		<!-- 백앤드 유효성 검사 -->
		<span class="check" th:text="${valid_memberpass}"></span>

		<!-- 닉네임 입력 -->
		<div>
			<input type="text" name="membernick" 
			placeholder="닉네임" th:value="${memberVO.membernick}">
		</div>
		<!-- 백앤드 유효성 검사 -->
		 <span class="check" th:text="${valid_membernick}"></span>
		
		<br>
		<button type="submit">가입하기</button>
	</form>
</body>
</html>