<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
</head>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<body>
    <h1>회원 가입</h1>
    <hr>

	<form th:action="@{/user/signup}" method="post" modelAttribute="${memverVO}">
   		<!-- 이름입력  -->
   		<div>
           <input type="text" name="member_id" th:value="${memberVO.member_id}" placeholder="아이디를 입력하세요">
           <span th:text="${valid_member_id}"></span>
        </div>
		
		<!-- 이메일 입력  -->
        <div>
            <input type="text" name="member_email" th:value="${memberVO.member_email}" placeholder="이메일을 입력하세요">
            <span th:text="${valid_member_email}"></span>
        </div>
		
		<!-- 비밀번호 입력  -->
        <div>
            <input type="password" name="member_pass" placeholder="비밀번호">
            <span th:text="${valid_member_pass}"></span>
        </div>

		<!-- 닉네임 입력 -->
        <div>
            <input type="text" name="member_nick" placeholder="닉네임">
            <span th:text="${valid_member_nick}"></span>
        </div>
        <button type="submit" >가입하기</button>
    </form>
</body>
</html>