* {
	margin: 0;
	padding: 0;
}

.chat_container {
	width: 500px;
	margin: 0 auto;
	padding: 25px
}

.chat_container h1 {
	text-align: left;
	padding: 5px 5px 5px 15px;
	color: #FFBB00;
	border-left: 3px solid #FFBB00;
	margin-bottom: 20px;
}

.chating {
	background-color: cyan;
	width: 500px;
	height: 500px;
	overflow: auto;
}

.chating .me {
	padding: 5px;
	margin: 20px;
	color: #000;
	text-align: right;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
}

.chating .others {
	padding: 5px;
	margin: 20px;
	color: #000;
	text-align: left;
	border: 1px solid yellow;
	border-radius: 5px;
	background-color: yellow;
}

input {
	width: 330px;
	height: 25px;
}

.inputTable{
	display: none;
}