.header {
	padding-bottom: 40px;
}

.myInfo {
	width: 100%;
}

td {
	border: 1px solid #dfdfdf;
	padding: 3%;
	font-size: small;
	font-weight: bold;
}
/*----------------------------------------------------------------------  */
/* ������  */
/*----------------------------------------------------------------------  */
.profileLeft, .nickname {
	border-left: 1px solid #f4f6f9;
}

.profileRight, .nickInput {
	border-right: 1px solid #f4f6f9;
}

.form-group{
}


.profileRight a, .profileRight div:not(.photo):not(.form-group)
,.change, .cancel{
	padding: 5px 10px;
	margin-top: 15px;
	margin-left: 5px;
	display: inline-block;
	padding: .5em .75em;
	color: #999;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	border: 1px solid #ebebeb;
	border-bottom-color: #e2e2e2;
	border-radius: .25em;
	color: black;
}

.change:hover, .cancel:hover {
	cursor: pointer;
}

.photo{
	width: 100px;
	height: 100px;
	border: 1px solid black;
	border-radius: 50%;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	border: 1px solid #f4f6f9;
}

.nickname {
	height: 100px;
}

.profileLeft, .nickname {
	background-color: #f0f0f0;
}

.width_pl {
	width: 25%;
}
/*------------------------------------------------------------*/
/* 					������ ���� 				 */
/*------------------------------------------------------------*/
.filebox label{
	padding: 5px 10px;
	margin: 0px;
	display: inline-block;
	font-size: inherit;
	line-height: normal;
	vertical-align: middle;
	background-color: #fdfdfd;
	cursor: pointer;
	color: black;
}

.filebox input[type="file"] { 
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}
