@charset "UTF-8";


.followingme-list{
	padding-left: 0;
}
.followingyou-list{
	padding-left: 0;
}
.img-circle-size{
	width:4.1rem;
	height:auto;
	float:left;
}
.followname{
	float:left;
	font-size:0.9rem;
}
.send{
	font-size:0.9rem;
}
.list-group-item::after{
	clear:both;
}
.user-img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgb(52, 180, 117);
	margin: 12px 25px;
	}
.td-1{
	width:25%;
}
.td-2{
	width:50%;
}
.td-3{
	width:25%;
	padding:20px 0 0 0 !important;
}
.d-block{
	    padding: 25px 0 0 2px;
   		 font-size: 15px;
}
.col-one{
	width:30%;
	padding:10px !important;
}
.col-one-bookmark{
	width:45%;
	padding:10px !important;
}
.col-two{
	width:25%;
	padding:10px !important;
}
.col-two-bookmark{
	width:25%;
	padding:10px !important;
}
.thead-dark .col-thr{
	padding:10px;
}
.col-thr{
	width:30%;
	padding-top:10px !important;
}
.col-thr-bookmark{
	width:30%;
	padding-top:10px !important;
}
.col-like-one{
	width:15%;
	padding:10px !important;
}
.col-like-two{
	width:35%;
	padding:10px !important;
}
.col-like-thr{
	width:15%;
	padding:10px !important;
}
.col-like-for{
	width:35%;
	padding:10px !important;
}

.register-table{
	padding:10px !important;
	text-align: center !important;
}

.bookmark-table{
	text-align: center !important;
}
.info-body{
	height:400px;
	overflow:scroll;
}
.register-body{
	height:520px;
	overflow:hidden;
}

#mypagelineChart{
}
td{
	font-size: 15px;
}

@media (min-width:1600px){
	.col-sw-1 {max-width: 8.33% !important; }  /* 1칸 짜리 폭 */
	.col-sw-2 {max-width: 16.66% !important; }  /* 2칸 짜리 폭 */
	.col-sw-3 {max-width: 25% !important;}
	.col-sw-4 {max-width: 33.33% !important;}
	.col-sw-5 {max-width: 41.66% !important;}
	.col-sw-6 {max-width: 50% !important; }
	.col-sw-7 {max-width: 58.33% !important;}
	.col-sw-8 {max-width: 66.66% !important;}
	.col-sw-9 {max-width: 75% !important;}
	.col-sw-10 {max-width: 83.33% !important;}
	.col-sw-11 {max-width: 91.66% !important;}
	.col-sw-12 {max-width: 100% !important;}
}

.paging-button{
    float: right;
}
.left-button{
	cursor:pointer;
}
.right-button{
	margin-left: 10px;
	cursor: pointer;
}
.leftright{
	margin: 10px 0;
}

.mypagelinechart{
	width:750px;
	height:400px;
}