@charset "UTF-8";

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-bottom: 0.5rem;
	font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	font-weight: 700;
	line-height: 1.2;
	color: #343a40;
}

@media screen and (min-width: 768px) {
	.header {
		margin-bottom: 30px;
	}
}

.trip_date {
	display: inline-block;
}

.jumbotron h3 {
	padding-bottom: 19px;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
}

.update_date {
	color: red;
	cursor: pointer;
}

ul.tabs {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.tabs li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.tabs li.current {
	background: #ededed;
	color: #222;
}

.tab-content {
	display: none;
	background: #ededed;
	padding: 15px;
}

.tab-content.current {
	display: inherit;
}

/*******************데이트*****************************/

/**************데이트피커***************/
#cal_date{
	margin:0;
	min-height: 100vh;
	padding: 1.5rem;
	background: #777;
	font-family: 'Raleway';
	
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#cal_date h1{
	color: white;
	font-weight: 400;
	font-size: 3rem;
	margin-bottom: 0;
	
	span{
		font-size: .75em;
		opacity: .8;
	}
}

#cal_date p.quote{
	color: white;
	opacity: .8;
	margin-bottom: 3rem;
	font-size: 1.2rem;
}

#cal_date #datepicker{
	max-width: 500px;
	height: 500px;
	width: 100%;
}

#cal_date .link{
	background: #333;
	padding: 1rem 2rem;
	color: white;
	text-decoration: none;
	margin-top: 2rem;
} 

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px){
	.col-md-3 {
	    -ms-flex: 0 0 25%;
	    flex: 0 0 25%;
	    max-width: 25%;
	}
}
.blog_info {
    padding-top: 30px;
}
.blog_info .post_tag {
    padding-bottom: 20px;
}
.blog_info .post_tag a {
    font: 300 14px/21px "Poppins", sans-serif;
    color: #222222;
}
.list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.blog_info .blog_meta li a {
    font: 300 14px/20px "Poppins", sans-serif;
    color: #777777;
    vertical-align: middle;
    padding-bottom: 12px;
    display: inline-block;
}
@media (min-width: 768px){
	.col-md-9 {
	    -ms-flex: 0 0 75%;
	    flex: 0 0 75%;
	    max-width: 75%;
	}
}
.blog_details {
    padding-top: 20px;
}

.timeline {
    position: relative;
    overflow: hidden;
    padding-left: 1px;
}
.timeline:before {
    content: "";
    position: absolute;
    width: 0;
    left: 1px;
    top: 0;
    bottom: 0;
    border-right: 2px solid rgba(0,0,0,.2);
}
.timeline:after {
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 0;
    top: 100%;
    margin-top: -4px;
    background-color: #000;
}
.interaction-in .timeline-item:nth-child(1n) {
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
}
.timeline-item {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 5rem;
}
.timeline-title {
    font-size: 31.5px;
    font-size: 2.25rem;
    margin-bottom: .5rem;
}
.timeline-item:before {
    content: "";
    position: absolute;
    width: 0;
    left: 0;
    top: 0;
    bottom: 0;
    border-right: 2px solid #000;
}

