.card-korea-map{
	position: relative;
}
.card-korea-map-main{
	 position:absolute; 
	     top: -5%;
    left: 20%;
}
.area-box{
	fill:white;
	stroke:black;
	stroke-width:3;
	opacity:0.5"
}
.area-detail{
	display:none;
}
text{
	font-size:20px;
}
