.card-korea-map{
	position: relative;
}
.card-korea-map-main{
	 position:absolute; 
	     top: -5%;
    left: 20%;
}
.area-box{
	fill:white;
	stroke:black;
	stroke-width:3;
	opacity:0.5"
}
.area-detail{
	display:none;
}
text{
	font-size:20px;
}
.all-look{
	display:inline-block;
	float:right;
}
.map-checkbox{
	position: absolute;
    right: 100px;
    top: 15px
}



@media(max-width:1200px) {
	.card-korea-map-main{
		left:2%;
	}
}
@media(max-width:768px) {
	.card-korea-map-main{
		left:20%;
	}
}
	
}
