@charset "UTF-8";

/* 지도 css */
.map_wrap, .map_wrap * {margin:0;padding:0;font-family:'Malgun Gothic',dotum,'돋움',sans-serif;font-size:12px;}
.map_wrap a, .map_wrap a:hover, .map_wrap a:active{color:#000;text-decoration: none;}
.map_wrap {position:relative;width:100%;height:500px;}
#menu_wrap {position:absolute;top:0;left:0;bottom:0;width:350px;overflow-y:auto;sbackground:rgba(255, 255, 255, 0.7);z-index: 1;font-size:12px;border-radius: 10px;}
.bg_white {background:#fff;}
#menu_wrap hr {display: block; height: 1px;border: 0; border-top: 2px solid #5F5F5F;margin:3px 0;}
.option{text-align: center;margin-left:100px;}
.option p {margin:10px 0;}  
.option button {margin-left:5px;}
#placesList li {list-style: none;padding: 10px;}
#placesList .item {position:relative;border-bottom:1px solid #888;overflow: hidden;cursor: pointer;min-height: 65px;}
#placesList .item span {display: block;margin-top:4px;}
#placesList .item h5, #placesList .item .info {text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#placesList .item .info{padding:10px 0 10px 55px;}
#placesList .info .gray {color:#8a8a8a;}
#placesList .info .jibun {padding-left:26px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/places_jibun.png) no-repeat;}
#placesList .info .tel {color:#009900;}
#placesList .item .markerbg {float:left;position:absolute;width:36px; height:37px;background:url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png) no-repeat;}
#placesList .item .marker_1 {background-position: 0 -10px;}
#placesList .item .marker_2 {background-position: 0 -56px;}
#placesList .item .marker_3 {background-position: 0 -102px}
#placesList .item .marker_4 {background-position: 0 -148px;}
#placesList .item .marker_5 {background-position: 0 -194px;}
#placesList .item .marker_6 {background-position: 0 -240px;}
#placesList .item .marker_7 {background-position: 0 -286px;}
#placesList .item .marker_8 {background-position: 0 -332px;}
#placesList .item .marker_9 {background-position: 0 -378px;}
#placesList .item .marker_10 {background-position: 0 -423px;}
#placesList .item .marker_11 {background-position: 0 -470px;}
#placesList .item .marker_12 {background-position: 0 -516px;}
#placesList .item .marker_13 {background-position: 0 -562px;}
#placesList .item .marker_14 {background-position: 0 -608px;}
#placesList .item .marker_15 {background-position: 0 -654px;}
#pagination {margin:10px auto;text-align: center;}
#pagination a {display:inline-block;margin-right:10px;}
#pagination .on {font-weight: bold; cursor: default;color:#777;}
#map{
	padding:50px;
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.col-m-2{width:30%;height:500px;float:left;}
.col-m-8{width:70%;height:500px;float:left;}

/* 음식점 리스트 hover */
#placesList li:hover{
	background-color: #58ACFA;
}
/* 음식점 리스트 */
.map_wrap{
	border: 2px solid black;
	border-radius: 10px;
	width:300px;
	overflow:hidden;
}
/* 배경화면 고정 */
body {
  background-image: url("../image/food.jpg");
  background-repeat: no-repeat;
  background-size:100% 100%;
  background-attachment: fixed;
}
/* 첫번쨰 화면 div */
.main_title{
	font-size:4vw;
	color:black;
	width:100%;
	height:1000px;
	text-align: center;
	line-height: 700px;
}
.monospace {
  font-family: "Lucida Console", Courier, monospace;
}
/* 가고싶은 맛집 리스트 */
.wish_list{
	padding-top:55px;
	background-color:white;
	width:100%;
	height:1000px;
}

/* 글 등록 modal 창 크기 */
@media screen and (min-width: 768px) {
	.modal-sw {
		max-width: 1200px !important;
	}
}
.modal-dialog{
	height:800px;
}
.map_result{
	display:inline-block;
	width:200px;
	height:30px;
	border:1px solid black;
}
.blog_result{
	display:inline-block;
	width:500px;
	height:30px;
	border:1px solid black;
}

/* modal 안에 정보 */


a:link { color: black; text-decoration: none;}
a:visited { color: black; text-decoration: none;}
a:hover { color: black; text-decoration: none;}

@keyframes example {
	width: 700px;
}

.navercardslide_for {
	width: 600px;
	margin: 50px auto 100px auto;
	animation-name: example;
	animation-duration: 2s;
}
.search_for{
	height:350px;
	padding:50px;
}
.search_nav {
	width:300px;
	height:100px;
	margin:0 30px 0 30px;+q
}
.star{
	z-index:999;
}