<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>메인</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}">
<script src="../js/main.js"></script>
</head>
<body>
	<!-- 공통 헤드 nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" th:include="common/header :: header_nav"></nav>
	<div class="slideNotice" th:include="common/notice :: header_notice"></div>
	<script>
		console.log($('.slideNotice').height())
	</script>
	<!-- //공통 헤드 nav -->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="transform: translateY(0px);"></div>
			<div class="container">
				<div class="banner_content text-center">
					<h2>나의 추억 , 너의 추억</h2>
					<p>추억을 나누는 공간 Trip5</p>
					<a href="#" onclick="fnMove('1')" class="btn theme_btn">추억보기</a>
				</div>
			</div>
		</div>
	</section>
	<div class="container" id="con1">
		<header class="jumbotron my-4">
			<h1 class="display-3">BEST 일지</h1>
			<p>대표이미지 표출 할겁니다</p>
			<a href="#" class="btn btn-primary btn-lg">보러가기</a>
		</header>
		<div class="container_nav">
			<div class="isotope_fillter">
				<ul class="gallery_filter list">
					<li class="active" data-filter="*"><a href="#">전체</a></li>
					<li data-filter=".ap"><a href="#">좋아요순</a></li>
					<li data-filter=".unp"><a href="#">북마크순</a></li>
					<li data-filter=".unv"><a href="#">최신순</a></li>
				</ul>
			</div>
		</div>

		<!-- Page Features -->
		<div class="row text-center">
			<div th:each="num: ${#numbers.sequence(1,4)}" class="col-lg-3 col-md-6 mb-4">
				<div class="card h-100">
					<img class="card-img-top" src="http://placehold.it/500x325" alt="">
					<div class="card-body">
						<h4 class="card-title">여행제목</h4>
						<p class="card-text">2020-06-22 ~ 2020-06-25</p>
						<p class="card-text">2박3일</p>
						<p class="card-text">#해시태그#해시태그#해시태그#해시태그#최대5개</p>
					</div>
					<div class="card-footer">
						<a href="#" class="btn btn-primary">보러가기</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--  <th:block th:include = "weather/weathermodal"></th:block> -->
	<!-- /.container -->

</body>
<!--  <script src="../js/weathermodal.js"></script> -->

</html>