<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8">
<title>메인</title>
<th:block th:replace="common/commonHead"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/notice.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/main_list.css}">
<script src="../js/main.js"></script>
<script src="../js/notice.js"></script>
<script
	src="//cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
</head>
<body>
	<!-- 공통 헤드 nav -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"
		th:include="common/header :: header_nav"></nav>
	<th:block th:include="weather/weathermodal"></th:block>

	<!-- //공통 헤드 nav -->
	<section class="home_banner_area">
		<div class="banner_inner d-flex align-items-center">
			<div class="overlay bg-parallax" data-stellar-ratio="0.9"
				data-stellar-vertical-offset="0" data-background=""
				style="transform: translateY(0px);"></div>
			<div class="container">
				<div class="banner_content text-center">
					<h2>나의 추억 , 너의 추억</h2>
					<p>추억을 나누는 공간 Trip5</p>
					<a href="#" onclick="fnMove('1')" class="btn theme_btn">추억보기</a>
				</div>
			</div>
		</div>
	</section>
	<div class="container" id="con1">
		<header class="jumbotron my-4" th:style="'background-image:url(/resources/upload/' + ${list[0].photoMain} + ');'" height = "300px">
			<h1 class="display-3">BEST 일지</h1>
			<h2 th:text="${list[0].tstitle}"></h2>
			<h4>
				<i class="fa fa-heart" th:text="| ${list[0].tslike} |" style="font-size: 17px"></i>
				<i class="fa fa-bookmark" th:text="| ${list[0].bookmark} |" style="font-size: 17px"></i>
			</h4>
			<a th:href="|/travel/travel_blog?uuid=${list[0].uuid}&tsid=${list[0].tsid}|" class="btn btn-primary btn-lg">보러가기</a>
		</header>
		<div class="container_nav">
			<div class="isotope_fillter">
				<ul class="gallery_filter list">
					<li class="active listbutton" data-filter="*" value="0" ><a >전체</a></li>
					<li data-filter=".ap" value="1" class="listbutton"><a >좋아요순</a></li>
					<li data-filter=".unp" value="2" class="listbutton"><a >북마크순</a></li>
				</ul>
			</div>
		</div>

		<!-- Page Features -->
		<div class="container box_1620">
			<div class="gallery_f_inner row imageGallery1" style="position: relative; height: auto;" id="listlocation">
				<!-- <div class="col-lg-3 col-md-4 col-sm-6 ap" th:each="list : ${list}">
					<div class="h_gallery_item">
						<img th:if="${list.photoMain} != null" th:src="|/resources/upload/${list.photoMain} |" width="210" height="300">
						<img th:unless="${list.photoMain} != null" src="/resources/upload/trip.jpg" width="210" height="300">
						<div class="hover">
							<a th:href="|/travel/travel_blog?uuid=${list.uuid}&tsid=${list.tsid}|">
								<h4 th:text="${list.tstitle}"></h4>
							</a>
							<a class="light" th:href="|/travel/travel_blog?uuid=${list.uuid}&tsid=${list.tsid}|">
								<i class="fa fa-heart" th:text="| ${list.tslike} |" style="font-size: 17px"></i>
								<i class="fa fa-bookmark" th:text="| ${list.bookmark} |" style="font-size: 17px"></i>
							</a>
						</div>
					</div>
				</div> -->
			</div>
			
			<div class="button_more">
				<a class="btn theme_btn">Load More Images</a>
			</div>
		</div>
	</div>
	<!-- /.container -->

</body>
<script src="../js/weathermodal.js"></script>

</html>